[2020-04-16 23:21] Kitaps opened #1 "Tiempo"
Hola,

en el enunciado dice

Esto significa que tenemos que hacer un "clock" y ir iterando por este o hacerlo directamente con un `sleep(tiempo_dado)`?

[2020-04-17 17:06] jeschuwirth opened #2 "Caso borde asignación PID procesos"
Según entendí del enunciado, cada proceso tiene un `PID` que se le asigna según su orden de llegada.

El proceso con menor `TIEMPO_INICIO` tiene `PID = 0`, el siguiente proceso con menor `TIEMPO_INICIO` tiene `PID = 1` y así.

Mi duda es si dos procesos tienen el mismo `TIEMPO_INICIO`, debemos ponerle el menor `PID` al que se encuentre más arriba en el archivo `input.txt`?

Gracias de antemano :)

[2020-04-18 03:17] jeschuwirth opened #3 "Procesos se ejecutan apenas llegan a la CPU"
Tengo una duda con la llegada de un proceso en `TIEMPO INICIO`.

Si no tengo procesos ejecutándose en un tiempo `t` y llega un nuevo proceso con `TIEMPO INICIO = t`, este se puede ejecutar inmediatamente, o en el tiempo `t` llega y comienza a ejecutarse desde el tiempo `t+1`.

Un ejemplo: si un proceso llega en `t=0`, para cuando sea `t=1` el proceso habrá avanzado 1 unidad en su ráfaga de CPU ini

[2020-04-18 03:26] jeschuwirth opened #4 "Orden archivo output"
Hola!

En el archivo output debemos escribir información sobre todos los procesos. No encontré información acerca del orden en el que anotamos estos procesos. ¿Debemos anotarlos por orden de id, orden de tiempos de finalización o no es importante?

De antemano gracias :)

[2020-04-19 04:57] IchottMano commented on #4
Hola!
El orden del output no es relevante.
Saludos!

[2020-04-19 05:13] rjdelrio opened #5 "tiempos de waiting en la ejecucion"
no me queda claro en la explicación del video:
Lo que pasa entonces, es que cada ves que un proceso se mete a usar la cpu luego esta obligado a tomar un tiempo waiting y así sucesivamente? osea que podría llegar a pasar que estén todos los procesos en waiting para luego querer usar la cpu, cierto?.
Por otro lado podríamos tener un contador que simplemente sume y que ese sea nuestro timer verdad?
y

[2020-04-20 16:35] jeschuwirth commented on #4
Gracias :)

[2020-04-21 00:47] ninifdr opened #6 "Duda implementación queue"
Hola! Tengo una duda sobre la implementación de la queue
En el enunciado sale que para la cola no hay que implementar listas ligadas ni métodos enqueue y dequeue y que sería como un arreglo con los procesos que hay q simular.
En ese sentido entonces esa queue no necesariamente tiene que tener solo los procesos en estado ready? Puedo tener todos los procesos en ese arreglo independiente de su estad

[2020-04-21 00:56] IchottMano commented on #5
Hola!

Los procesos entrarán a WAITING sólo cuando terminen una ráfaga de CPU. Efectivamente, dadas ciertas configuraciones de procesos se puede dar que todos se encuentren en estado WAITING.

Dado que es una simulación discreta, es completamente válido ir contando de esa manera.

También es válido lo que dices sobre el struct proceso.

Saludos!

[2020-04-21 00:58] IchottMano commented on #6
Hola!

Es completamente válido implementarlo como dices, usando sólo un arreglo con todos los procesos de diferentes estados.

Saludos!

[2020-04-21 01:03] ninifdr commented on #6
Super! Gracias!!

[2020-04-21 02:30] AntoniaChristensen opened #7 "Duda respecto al manejo del tiempo"
Hola! Estoy muy confundida respecto a cómo manejar el tiempo en esta simulación. Entiendo que estamos haciendo una simulación discreta avanzando un "segundo" a la vez (que no tiene por qué ser un segundo real sino que es adimensional). Sin embargo, lo que me complica es si estamos tratando como con **bloques de tiempo** o con **instantes**, pues el hacer uno o lo otro va a incidir en cómo se manej

[2020-04-21 02:47] IchottMano commented on #7
Hola!
Lo mejor para esta tarea es pensar en los tiempos como **bloques**, por lo que hice en la ayudantía la similitud entre los tiempos y columnas en un excel 😅 . En cada uno de estos bloques sólo puede haber **un** proceso cuyo burst disminuya en 1 (en cada bloque de tiempo sólo hay un proceso corriendo).

Para los casos que planteas:

a) Como en el segundo 3 no hay nada corriendo en la CPU, al

[2020-04-21 20:00] Kitaps commented on #7
Ohh gracias por responder aquí también. Ya lo habías respondido en tu vídeo. Gracias por explicarlo x acá igual. Dejo la issue abierta, por si le sirve a otra persona?

[2020-04-21 20:03] Kitaps commented on #6
Pero se puede hacer un struct queue que tenga algunas propiedades de una cola? Ej q sea por nodos, que tenga head y tail, append pop etc?

[2020-04-21 20:04] Kitaps commented on #1
Respuesta en el video de la ayudantía para la tarea: https://www.youtube.com/watch?v=Nm-IzoEXItE

[2020-04-21 20:07] IchottMano commented on #6
Hola @Kitaps !

Puedes hacerlo como tu quieras, si hacerlo con propiedades de una cola te ayuda para tu modelación, eres completamente libre de hacerlo.

Saludos!

[2020-04-21 20:08] Jiruiz2 opened #8 "Cambio de nombre para struct Queue"
Hola,

Quería saber si había algún problema con cambiar el nombre de la struct Queue, con el fin de usar este nombre para definir una estructura de "Subcolas" dentro de la cola de procesos.

Saludos

[2020-04-21 20:08] IchottMano commented on #2
Respuesta en el video de la ayudantía para la tarea: https://www.youtube.com/watch?v=Nm-IzoEXItE

(Por favor si aún queda alguna duda despues de ver el video, hacermelo saber)

[2020-04-21 20:09] IchottMano commented on #3
Hola!

Lamento la demora, pero creo que se respondió en #7

Saludos!

[2020-04-21 20:10] IchottMano commented on #8
Hola!

No hay problema con esto, sin embargo debes dejar (a modo de comentario) que se trata del struct Queue pedido en la tarea.

Saludos!

[2020-04-21 21:22] ninifdr opened #9 "interrupción cuando el proceso termina"
Hola!
Si entendí bien, en la ayudantía explicaron que cuando un proceso termina su cpu burst justo cuando debe ser interrumpido igual se considera como una interrupción y va a la cola de waiting. Pero qué pasa cuando el proceso terminó de ejecutar su último cpu burst y debe quedar en estado finished? También se considera una interrupción?

[2020-04-22 04:18] cruz opened #10 "I1: Aclaraciones de enunciado"
El contenido de esta issue se actualizará con las preguntas que se reciban. Para formular una nueva pregunta, responder a esta issue.

### Pregunta: **En la P2, ¿a qué se refiere con 'evidenciar'?**

Se refiere a cómo te puedes dar cuenta de que algo ocurre. ¿Cómo te puedes dar cuenta que un sistema posee multiprogramación?, ¿cómo te puedes dar cuenta que el sistema posee _multitasking_? Piensen q

[2020-04-22 12:39] Arcoirisky commented on #10
Ya mandó el link de zoom? no logro encontrarlo

[2020-04-22 13:47] BenjaLepe commented on #10
En la pregunta 8 I/O intensive se refiere a I/O burst?

[2020-04-22 14:18] AntoniaChristensen commented on #10
**En la pregunta 3**: A qué se refiere describir **a qué tipo de seguridad** se refiere la afirmación??

[2020-04-22 14:50] matiaseche commented on #10
**Pregunta 7:** Con _syscalls_ se refiere a `exit()`, `wait()`, `exec()`, y otras o señales del tipo `SIGINT`, `SIGTERM`, ...

[2020-04-22 15:35] Taeval commented on #10
### Para la pregunta 8:
 I/O Intensive es lo mismo que I/O Bound.

### Para la pregunta 3:
 Seguridad con respecto al funcionamiento del sistema. No se refiere a cosas como privacidad, confidencialidad, etc.

[2020-04-22 15:56] Taeval commented on #10
### Para la pregunta 7:
Sí, se refiere a las señales exit(), wait() y exec(). En particular se refiere a syscalls de manejo de procesos y NO syscalls de disco como open y read. SIGTERM y SIGINT no son syscalls.

[2020-04-22 16:08] IchottMano commented on #9
Hola!

Si, esto tambien debería ser considerado como una interrupción.

Saludos!

[2020-04-22 16:44] dfvasquez commented on #10
Hola! Tengo una duda en la pregunta 13, no sé si la entendí bien pero prefiero preguntar. ¿A qué se refiere con **diferencia práctica**?

Muchas gracias!

[2020-04-22 18:17] Taeval commented on #10
### Para la pregunta 13:
Con diferencia práctica se refiere a ventajas y desventajas de bloquear procesos de una forma u otra.

[2020-04-22 21:15] vijuarez commented on #10
Me quedó una duda en la pregunta 5. Cuando me piden que explique "por qué es así", se refieren a que explique por qué el espacio de memoria se separa de esta forma, o por qué los dos primeros espacios son de tamaño fijo y los otros no? Asumo que es la segunda opción, pero pregunto por sí acaso.

[2020-04-22 21:26] jotramon commented on #10
En la pregunta 15.3, a que se refiere con fuera de los bits de offset? que calculemos sin considerarlo para la cantidad de memoria usada por las tablas? o es un error de tipeo?

[2020-04-22 22:26] AntoniaChristensen opened #11 "Duda respecto a manejo input"
Hola!
Podemos asumir que el input que recibimos, específicamente el **modo o versión** del algoritmo será  solo np o p, o _debemos saber manejar casos en qué se ingrese otra cosa_?

[2020-04-22 22:33] Taeval commented on #10
### Para la pregunta 15.3:
Son 3 bits para el primer número de página y el resto para el segundo nivel. En "el resto" no se deben incluir los bits de offset, ya que estos nunca se cuentan para el direccionamiento de páginas.

[2020-04-23 02:21] rjdelrio commented on #6
tiene que ser un arreglo no puede ser un puntero el que almacene los procesos?

[2020-04-23 04:56] rjdelrio opened #12 "struct process atributos"
en el enunciado se pide un struct process con una serie de atributos,
primero:
estos devén llamarse como sale en la pauta?
segundo:
el estado lo podemos representar con algo mas fácil de manejar como un int en ves de un string? :D

[2020-04-23 16:18] johntrombon opened #13 "Actividad 05"
Hola! realicé como preparacion para la prueba la actividad 5 y me la evaluó inmediatamente sin darme mis otros 4 intentos :(
Dejé 10 puntos en blanco porque la última materia no entraba u.u

No sé si pasó algo raro o es un bug generalizado, por si alguien le puede echar un ojo, gracias de antemano.

[2020-04-23 16:28] cruz commented on #13
Hola @JohnTrombon,
Yo tengo esta configuración. ¿Puedes probar de nuevo? Se supone que hay más intentos. La primera vez que la publiqué efectivamente me había equivocado y había dejado solo un intento, pero en teoría está corregido.

<img width="462" alt="Screenshot 2020-04-23 12 26 50" src="https://user-images.githubusercontent.com/1083746/80124103-c0200c80-855d-11ea-8784-0ad4711ddbae.png">

Voy

[2020-04-23 16:32] cruz commented on #13
Según el sistema te quedan 4 intentos. ¿Puedes verificar?

<img width="913" alt="Screenshot 2020-04-23 12 31 23" src="https://user-images.githubusercontent.com/1083746/80124554-6d932000-855e-11ea-86f7-4fcb93419658.png">

[2020-04-23 16:49] johntrombon commented on #13
Ahora me sale que puedo volver a intentarlo, muchas gracias!

[2020-04-24 02:12] mvgil opened #14 "Cambio de estado desde runnnig a ready"
Hola!
Leyendo el enunciado sale que un proceso que está en estado running, pasa a ready cuando llega un proceso que le queda un menor tiempo de ejecución en la CPU. Entonces, si estamos en la versión expropiativa, existen 3 causas para que el proceso deje de estar en running:
1. LLegó un proceso con menor tiempo de ejecución restante, y lo interrumpió.
2. El quantum es menor que el tiempo de cpu-b

[2020-04-24 02:20] IchottMano commented on #14
Hola!

Si llega un proceso con menor tiempo de ejecución restante, el proceso que se encuentra en la CPU **no** es interrumpido. Además el proceso pasa a READY cuando se pasa del tiempo quantum, no estoy seguro si eso es a los que te refieres con el segundo punto.

El tercer punto es correcto.

Saludos!

[2020-04-24 02:22] IchottMano commented on #12
Hola!

Si, los structs **deben** llamarse como sale en el enunciado, a menos que pongas **claramente** en el código que te refieres a el struct del enunciado.

La idea es que lo manejen con un int (enum), no es la idea que lo hagan con un string (se puede pero es muy complicado y no vale la pena).

Saludos!

[2020-04-24 02:23] IchottMano commented on #11
Hola!

Tu programa debe "funcionar" (no caerse) con un input **cualquiera** para tener todo el puntaje en esa parte.

Saludos!

[2020-04-25 00:14] vaetchegaray commented on #9
@IchottMano

En el caso que se acabe el quantum, siempre se va a considerar como una interrupcion también? Lo pregunto por que hay casos en que se acaba el quantum y el mismo proceso vuelve a la CPU (porque es el único ready o tiene mas prioridad).
En este caso entonces se considera que el proceso fue interrumpido y fue elegido justo después para las estadísticas finales?

[2020-04-25 00:20] IchottMano commented on #9
Hola!

Ese caso también va a contar como interrupción, no importa si el mismo proceso vuelve a la CPU inmediatamente.

Saludos!

[2020-04-25 02:08] arbiocanpion opened #15 "Largo de líneas"
Hola!
Podemos asumir que el largo de cada línea en el archivo .txt seran de largo maximo 256?

Gracias!.

[2020-04-25 22:06] SarahEverke opened #16 "Atributo prioridad de proceso"
Hola,

es necesario que un proceso tenga una prioridad como dice el enunciado, que no uso ese atributo.
Muchos saludos

[2020-04-25 23:48] IchottMano commented on #16
Hola,

Luego de haber subido la ayudantía, hicimos unos cambios por lo que ya no es necesario el uso de una prioridad para los procesos.

Saludos!

[2020-04-25 23:50] IchottMano commented on #15
Hola!

Pueden asumir que el largo del archivo .txt no será mayor a 2^31-1 o 2147483647.

Saludos!

[2020-04-26 00:40] arbiocanpion commented on #15
Gracias por la respuesta!.
Aunque aun no me queda clara mi duda, ya que ustedes indicaron en la tarea 1 que las lineas del archivo de input serian a lo mas de largo 256 bytes. ¿En esta tarea podemos asumir lo mismo?.

Saludos.

[2020-04-26 00:43] IchottMano commented on #15
Hola!

Lo siento, me traspapelé. En esta tarea **no** pueden asumir eso.

Saludos!

[2020-04-26 00:49] arbiocanpion commented on #15
Muchas gracias!.
[Edit]
Una duda mas, en aquel caso ¿Podemos asumir que al final de cada linea habra un \n?.

[2020-04-26 01:01] SarahEverke commented on #16
Súper, muchas gracias!

[2020-04-26 17:31] BenjaLepe opened #17 "strcpy y printf error"
Cuando hago el strcpy para cambiar de estado y luego pongo un printf despues del strcpy me sale un error de segmentation fault, mientras que cuando no hago el printf no me sale ningun error.
![imagen](https://user-images.githubusercontent.com/48299074/80314843-007fc480-87c2-11ea-87ec-37a2dbe9d232.png)
mientras que cuando no hago el printf no me sale ningun error y el programa continua.
![imagen](h

[2020-04-26 18:08] Pipelao commented on #16
Hola,

Considerando que no es necesario el uso de una prioridad, ¿es posible agregarle atributos a los struct de Process y Queue? Por ejemplo en el de Process estaba pensando en colocarle la lista con sus tiempos de ejecución.

Gracias.

[2020-04-26 19:32] Arcoirisky opened #18 "Cantidad de procesos creados en t"
Es posible que existan 2 o más procesos que estén en modo ready en un mismo t?
de ser así ¿Cómo decido su PID? ¿Según el orden del archivo?

[2020-04-26 20:01] IchottMano commented on #17
Hola, puedes por favor mandar un pantallazo de lo que te tira valgrind?
Saludos

[2020-04-26 20:02] IchottMano commented on #18
Hola!

Si pueden haber múltiples procesos en READY al mismo tiempo.
Ya no es necesario asignalre un PID a un proceso.

Saludos!

[2020-04-26 20:02] IchottMano commented on #15
Si, pueden asumir eso.

[2020-04-26 20:04] Arcoirisky commented on #18
Kha, okay~

[2020-04-26 20:35] Arcoirisky commented on #7
En el ejemplo de la ayudantía, P0 al llegar en T=0 tiene la CPU lista para él y cambia a running time altiro. Mi pregunta es si en ese momento su WaitingTime es 1 o 0? porque si bien llegó en ready no esperó mucho y su cuadrado de tiempo se pintó altiro del color running ;--;

[2020-04-26 20:44] IchottMano commented on #7
Hola!

Como el proceso pudo correr inmediatamente, no debió esperar ninguna unidad de tiempo, por lo que su waiting time es 0.

Saludos!

[2020-04-26 20:46] BenjaLepe commented on #17
![imagen](https://user-images.githubusercontent.com/48299074/80319245-80675800-87dd-11ea-99d0-0c7e53322a1c.png)

[2020-04-26 23:28] IchottMano commented on #17
Podrías mostrarme los errores que salen antes de eso? (Si es mucho y no quieres mostrar el funcionamiento de tu código por este medio, te invito a que me envies los pantallazos directamente por Telegram (@IchottMano) o a mi mail (reschilling@uc.cl))

Saludos!

[2020-04-27 03:01] Arcoirisky opened #19 "turnos CPU"
Hola!
En el enunciado dice que turnos CPU es el número de veces que el proceso fue **elegido** para usar la cpu

Pero, en la ayudantía dice que son la cantidad de bloques running :C

¿a cual le creo?

pd: para el caso np, y considerando que el enunciado tiene razón, la salida del ejemplo de la ayudantía sería:
[code]
verdad?

[2020-04-27 15:15] dasotosilva19 opened #20 "dudas sobre quantum y archivos input T2"
Hola, tengo una duda con respecto al uso del quantum en la versión expropiativa del scheduler que debemos implementar en la tarea.
Se supone que si el quantum es menor que la ráfaga de CPU que se está ejecutando en ese momento, la ejecución del proceso es interrumpido y pasa a estado ready. Pero si es menor, y la ráfaga se ejecuta completamente, entonces pasa a estado waiting. Mi pregunta va en es

[2020-04-27 15:22] IchottMano commented on #19
Hola!

Me puedes decir en que minuto de la ayudantía dije eso (para verlo jajaja)? Debe ser un error D:
Efectivamente "turnos cpu" se refiere a la cantidad de veces que el proceso entró a la CPU.

Saludos!

[2020-04-27 15:24] IchottMano commented on #20
Hola!

Para esta tarea, el quantum es constante e igual pata todos los procesos. Si un proceso termina su ráfaga antes de usar todo el quantum, cuando vuelva tendrá nuevamente el quantum entero para correr.

Debido a una situación de fuerza mayor (meper d0nan¿) los archivos de pruab estaán dentro de esta semana.

Saludos!

[2020-04-27 16:46] BenjaLepe commented on #17
Ya lo pude solucionar, el problema era que cuando llamaba al proceso desde la Queue, hacia cambios en el proceso y despues no se guardaban.

Gracias!

[2020-04-27 17:11] Pipelao commented on #20
Hola,

Tengo una pregunta con que la ráfaga de CPU sea menor a la del quantum, ¿en este caso la CPU corre hasta que el proceso termino y no más? o ¿ejecuta el quantum compleot sin importar que termine el proceso antes?

Gracias

[2020-04-27 18:57] josem7 commented on #12
Hola,

A la struct process le puedo agregar más atributos además de los que salen en el enunciado?

[2020-04-27 19:00] IchottMano commented on #20
Hola!

En ese caso el proceso efectivamente corre hasta que se termine el tiempo que necesita y pasa a WAITING. Luego, cuando pase el siguiente preoces el quantum se "resetea" a su valor original.

Saludos!

[2020-04-27 19:01] IchottMano commented on #16
Hola!

A estas structs puedes agregarles los atributos extra que tu desees.

Saludos!

[2020-04-27 19:02] IchottMano commented on #12
Hola!

Si, puedes agregarle cualquier atributo que estimes conveniente.

Saludos!

[2020-04-27 19:36] Arcoirisky commented on #19
-va a ver el video de nuevo-
48:00

[2020-04-27 19:43] Arcoirisky commented on #9
Solo para asegurarme, se cuenta como interrupción cuando el **Proceso termina en q** (caso P3 ayudantía), cuando ejecuta q veces en la CPU (lo normal)
PERO
¿Cuenta como interrupción que el proceso pase de estado running a waiting en el q señalado? En el ejemplo de la ayudantía sería en T=11 para el caso expropiativo para el proceso 2. En ese momento termina de ejecutar todo lo que necesita en el q

[2020-04-27 20:17] sialvarez opened #21 "Flujo de todo el proceso"
Hola! Busco una recomendación acerca del flujo del proceso, lo que estoy haciendo es que tengo un lock el cual es "entregado" a alguno de los procesos existentes (los que corresponden a threads), y este proceso "RUNNING" es el que se encarga de ir sumándole 1 al tiempo de ejecución.

Mi drama es que al hacerlo de esta forma, no logro coordinar el tiempo alterado por el thread en ejecución con el p

[2020-04-27 23:24] Pipelao commented on #20
Ya perfecto, entiendo.

Ahora me queda otra duda, si en el caso que la ráfaga que queda es de 3, el quantum es de 5, entonces en el tiempo 4 el proceso estaría en waiting y la cpu debiese estar con otro proceso en running. Para las estadísticas, ¿cuenta como interrupción para el proceso si teminó antes del quantum? Porque de las preguntas anteriores saqué como conclusión que cada vez que termina e

[2020-04-28 20:23] Pipelao commented on #21
Ohhh, ¿es con threads la tarea? Yo lo estaba haciendo con iteraciones no más que representan el tiempo.

[2020-04-28 21:00] Pipelao opened #22 "Proceso idle"
Hola,

Me queda una duda con la descripción del proceso idle. Cuando dice que no hace nada hasta que llegua alguien a la cola READY, ¿significa que duerme la CPU? Me refiero a que no avanza el tiempo, porque tenía pensado quesi no hay procesos en READY, sólo aumentar el tiempo.

Gracias.

[2020-04-29 04:56] vtespinosa opened #23 "Atributo de procesos se cambia solo al iniciar un for"
Hola, mi código estaba funcionando perfecto y cuando hice un cambio chico (que no tenía nada que ver con el atributo que se cambia), un atributo de el struct Process empezó a cambiar al iniciar un for.

Código:

![codigo](https://user-images.githubusercontent.com/42243507/80561686-4059ce00-89b3-11ea-9330-3f39ea0c4c75.png)

Output:

![output](https://user-images.githubusercontent.com/42243507/80561

[2020-04-29 09:59] Arcoirisky commented on #21
Damn, yo lo hice igual que @Pipelao y me funcionó perfecto... De hecho, considerando que no se menciona ni en el enunciado ni en la ayudantia, creo que no es necesario el uso de threads.

Un poco más allá sería decir que estoy segura que en la ayudantia se habló de simulación, sobretodo porque los tiempos son celdas de Excel o:

[2020-04-29 10:03] Arcoirisky commented on #22
@Pipelao, no soy ayudante pero yo lo hice como dices.

Solo aumente el tiempo y actualice lo que debo actualizar pero la cpu no hace nada durante ese tiempo.

Yo creo que el proceso idle sirve según como modelemos el problema, en la ayudantia dicen que hay algunos casos en que existe este proceso para que la cpu se mantenga trabajando en la vida real (lo cual tiene sentido ya que si no aprovechas

[2020-04-29 10:13] Arcoirisky commented on #20
No se si te sirva @Pipelao  pero a mi me dijeron que en caso de que la ráfaga sea 3 y el quantum también sea 3, a pesar de que terminó su ejecución y pasa a waiting cuenta como interrupción porque el proceso completó su quantum.

¿Por que lo digo? En tu caso el quantum del proceso no se a completado porque la cpu fue liberada.

Según entiendo, el quantum solo hace su aparición cuando se utiliza la

[2020-04-29 15:14] vtespinosa commented on #23
Ya lo solucioné

[2020-04-29 15:14] #23 closed, assigned to nobody

[2020-04-29 17:45] Pipelao commented on #20
Muchas gracias @Arcoirisky , me queda claro :)

[2020-04-29 17:47] Pipelao commented on #22
Entiendo, muchas gracias @Arcoirisky .

[2020-04-29 19:57] arbiocanpion commented on #15
Muchas gracias!

[2020-04-29 20:31] fedetaladriz commented on #6
Hola @IchottMano !
En relación a esta implementación, podremos crear un quinto estado "NO-STARTED" que represente los procesos aun no creados? O necesariamente tenemos que * crear * el proceso cuando nos indican?
Saludos!

[2020-04-30 03:18] Kitaps opened #24 "Errores Valgrind no graves"
Hola,

me pasa que valgrind al correrlo me reclama x unos errores, pero no son leaks y mi programa (por ahora) igual funciona.

Tengo que pescarlo o filo?

[2020-04-30 19:52] xariveros opened #25 "Recorrección T1"
Hola,

No sé si habrán subido a algún lado, o si todavía no lo suben, sobre como será el proceso de recorrección de la T1 pero no lo encuentro. Les agradecería que si me pudieran ayudar con esta información.

Saludos

[2020-04-30 19:58] IchottMano commented on #21
Hola!

Efectivamente, no es necesario en esta tarea el uso de threads, sino que es sólo una simulación.

Saludos!

[2020-04-30 20:00] IchottMano commented on #24
Hola!

Si bien en ese caso no tendrás puntaje por manejo de memoria, ya que pedimos 0 leaks y 0 errores, tienes que tener cuidado con los errores de memoria, ya que significan que tu programa puede no estar funcionando correctamente o podría funcionar de otra manera cuando nosotros la corrijamos.

Saludos!

[2020-04-30 20:01] IchottMano commented on #25
Hola!

Libreraremos el forma de recorrección una vez terminada la T2.

Saludos!

[2020-04-30 20:52] johntrombon opened #26 "T2 Numero de interrupciones"
Si un proceso termina un burst al mismo tiempo que nuestro scheduler decide interrumpirlo, lo contamos como una interrupción o como que cedió la cpu voluntariamente?

[2020-04-30 20:58] IchottMano commented on #26
Hola!

Como se dijo en #9 , esto si debe ser contado como una interrupción.

Saludos!

[2020-04-30 21:40] johntrombon opened #27 "Orden procesos en el output"
Los procesos han de imprimirse en algún orden en particular?
por orden de como llegan en el input? por orden de llegada a la cpu ? por orden de llegada a "FINISHED" ?

[2020-04-30 21:54] IchottMano commented on #27
Hola!

Como dijimos en #4 , el orden no es relevante.

Saludos!

[2020-04-30 22:02] johntrombon commented on #27
Gracias, sorry por los dos issues duplicados jajaja juro que revisé u.u

[2020-04-30 22:08] IchottMano commented on #27
@JohnTrombon jajaja tranqui, a todos nos pasa.

Mucha suerte en la tarea!

[2020-05-01 01:32] Pipelao commented on #11
Hola,

Con respecto a esto del input, ¿entonces hay que restringir a que el usuario sólo ingrese valores correctos? Estoy pensando en lago así como un while hasta que ingrese correctamente los datos, por ejemplo si luego del p coloca hola, o un número decimal o incluso un path que no corresponde, ¿todo esto lo debemos checkear?

Gracias

[2020-05-01 01:52] Arcoirisky commented on #11
O un if que te bote para fuera si haces mal o recibes mal los parámetros

[2020-05-01 18:04] Snorlax8 opened #28 "Inputs & Outputs de ejemplo"
Hola!

Quería saber si iban a subir archivos de input de ejemplo con su correspondiente output, para poder testear mejor la tarea.

Quedo atenta, gracias!

[2020-05-02 04:00] rjdelrio opened #29 "que pasa con el idle con el quantum"
Que pasa si es que estoy esperando a que algo pase y llamo al programa idle, el quantum lo sigo corriendo para este programa, hasta que llegue un programa a interrumpirlo?
lo digo porque el programa podría llegar y tener que esperar a que el quantum del idle acabe para poder interrumpirlo :D

[2020-05-02 04:53] Arcoirisky commented on #29
Yo te diría que el programa idle es un programa de mentira que no debería afectar a los programas de verdad... porque imagina el caso que no lo tienes y solo dejas a la cpu sin nada que hacer, entonces te cambiaría el output del programa

Llevarlo a la vida real como dices tampoco tendría sentido por lo mismo...

Pero yo no ser ayudante, solo creo lo que digo xD no lo consideraría

[2020-05-02 18:14] Jiruiz2 opened #30 "Problema con strtok"
Hola,
Estaba realizando el test 3 cuando mi programa tuvo un error con strtok (solo en este test), ya que al leer un token recibe null y al aplicarle atoi generaba un segmentation fault. Lo raro es que ocurre al leer el valor 118 de los burst times de los procesos, es decir, realiza la acción bien 117 veces y luego no recibe nada.
Quería ver si tienen alguna idea del error o simplemente busco una

[2020-05-02 18:57] IchottMano commented on #29
Hola!

Efectivamente como dice @Arcoirisky , el programa idle es un programa "de mentira", este no debería afectar el funcionamiento de tu tarea. Sólo "estará corriendo" si es que ningun otro proceso esta en CPU y desaparece inmediatemente cuando un proceso entra. Por esto, tampoco le afecta el quantum.

Saludos!

[2020-05-02 18:58] IchottMano commented on #28
Hola!
(outdated 😅 )
Ya subimos tests al canvas del curso!

Saludos!

[2020-05-02 18:58] #28 closed, assigned to nobody

[2020-05-02 19:02] IchottMano commented on #30
Hola!

Bastante extraño ese error, has intentado usando otra funcion como [strchr](https://www.tutorialspoint.com/c_standard_library/c_function_strchr.htm) ? Strtok a veces tiene problemas con los buffers ya que modifican directamente el string.

Quedo atento,
Saludos!

[2020-05-02 19:18] jcampino1 commented on #14
En el enunciado dice que el scheduler debe determinar que hacer con el proceso saliente de la CPU. Una de las opciones es:

- Pasar a estado READY en la cola al ser interrumpido, lo que sucede cuando llega a la cola un proceso con menor tiempo de ejecución.

Puede ser interrumpido o no?

[2020-05-02 19:30] IchottMano commented on #14
Hola!

Eso se refiere a que cuando el proceso es interrumpido, este pasa a READY si llega otro proceso a la cola (cola READY) que tenga menor tiempo de ejecución. Esto ya que de no haber otro proceso con menor tiempo de ejecución, este es interrumpido pero vuelve a RUNNING inmediatamente.

Como dice la definición de preemptiveness de la tarea, este solo es interrumpido cuando se le acaba el quantu

[2020-05-02 21:39] Arcoirisky opened #31 "Problema Test-3 T2"
Hola!
Me di cuenta que el T3 me dan los nombres corridos, revisé y, una posible razón, puede ser el número de CPU-busts en los procesos...

Habían dicho que los procesos terminaban siempre con un CPU-bust ¿No? entonces si tenemos
2 busts en un proceso, deberían seguirle 3 datos (n+1)
Pero en el Test 3 si hay 300 CPU-Busts hay 300 datos... o me está faltando un dato o me sobra.

Todos los otros tes

[2020-05-02 23:06] mistico0121 commented on #31
A mi también me pasó que se llamaba 9 el proceso. Hay que borrar el último número de cada proceso porque en todos los procesos del test 3 hay un número demás. Después de eso, me corrió bien.

[2020-05-02 23:13] Arcoirisky commented on #31
@mistico0121 ¡gracias! ahí me dio igual al test :D <3

[2020-05-02 23:51] fedetaladriz commented on #30
Hola @Jiruiz2 !
Yo tuve el mismo error. Lo que pasa es que strtok tiene un limite de largo del string de entrada de 256 caracteres (no se por qué, ni tampoco supe cómo cambiarlo). Yo lo arreglé usando strtok_r. Ojalá te ayude.
Saludos

[2020-05-03 02:10] Pipelao commented on #11
Verdad, tienes razón, con un if basta. Pero mi pregunta iba a qué tanto hay que verificar el output, por ejemplo, ¿puede que nos entreguen hola en vez de una ruta y tener que verificarlo??
Gracias

[2020-05-04 02:36] fedetaladriz opened #32 "Problema test 2 np"
Hola!

Probé todos los tests que subieron y lo único que no me calzó fue la versión np del test 2. Mas específicamente, solo las últimas tres lineas de este test me dieron un poco distintas.

A algunos otros compañeros les pasó lo mismo. Además, me pareció raro que me diera malo la versión non-preemtive y que las versiones preemtive me resultaran bien.

Habrá algún error?
Saludos!

[2020-05-04 02:38] Arcoirisky commented on #32
A mi me dieron todos los tests...

[2020-05-04 03:39] #32 closed, assigned to nobody

[2020-05-05 06:52] xariveros opened #33 "Nombre ejectutable T2"
Hola

Me surgió una duda, en el enunciado sale que el programa se testeará usando el formato:
./osrs <file> <output> <version> <quantum>. Y al final se menciona que al correr "make" se debe generar un ejecutable llamado _scheduler_.
Se debe llamar _osrs_ o _scheduler_??
Gracias

[2020-05-05 20:34] IchottMano commented on #33
Hola!

En nombre del ejecutable **debe** ser **osrs**.

Saludos!

[2020-05-06 00:06] Kitaps commented on #9
@Arcoirisky te respondieron esto?

Podemos asumir que siempre que sea tiempo de interrumpir se va a contar una interrupción?
(Proceso pasa a finished, Proceso pasa a ready o Proceso pasa a waiting al mismo tiempo que se le acaba el cuantum)

[2020-05-06 00:17] Kitaps commented on #9
Otra duda:
En el enunciado sale que:

Esto vale? Es decir aun que no toque cambio por que se haya acabado el quantum de un proceso, si llega uno nuevo lo interrumpe nomas? O espera a que se acabe el quantum, y ahi si?

[2020-05-06 01:45] rjdelrio commented on #31
si le sacamos ese numero el output no se ve afectado?

[2020-05-06 02:46] Arcoirisky commented on #31
@rjdelrio no estas viendo que me dio el test? Lskdks seguramente crearon el archivo metiéndole dos valores randoms de una y olvidaron sacar el último wait_n que no va xD

[2020-05-06 16:55] IchottMano commented on #9
@Arcoirisky sorry lo tarde, pero si cuenta.

@Kitaps #14

[2020-05-06 17:48] rjdelrio commented on #15
los test vienen sin /n en todas las lineas, supongo que lo podemos agregar nosotros verdad?

[2020-05-08 16:43] pxparga opened #34 "Busco grupo para P1"
Hola! tomé el ramo sola así que no tengo grupo. Para el/la que me quiera aguachar en el suyo, mi mail es pxparga@uc.cl para que me escriba :)

[2020-05-08 20:02] #34 closed, assigned to nobody

[2020-05-08 20:21] Regenschrim opened #35 "Warning: variables indefinidas, cuando si lo estan"
Por alguna extraña razón estaba trabajando en las últimas cosas de mi tarea pero me salió un warning mientras trataba de imprimir algo. Me marcó un montón de variables del programa diciendo que no estaban definidas, pero si lo están. Mi programa funcionaba antes de agregarle ese par de prints... así que opté por usar ctrl-z y volver a un estado donde si corría, pero sigue diciendome lo mismo y no

[2020-05-08 20:36] #35 closed, assigned to nobody

[2020-05-10 22:42] xariveros opened #36 "Busco grupo proyecto"
Hola
Ando en búsqueda de grupo para el proyecto. Les agradecería si algún grupo que le falte uno me acepta.

Mi mail es xariveros@uc.cl

[2020-05-11 01:47] vtespinosa opened #37 "Grupos proyecto"
Hola, con un amigo necesitamos a 2 integrantes para completar el grupo. Cualquier interesado puede responder esta issue o mandarnos un whatsapp a cualquiera de estos números:
+56977698946
+56975397461
Saludos.

[2020-05-11 12:59] jmsilvas commented on #37
Hola, lo completaron ya? Yo todavía no tengo grupo

[2020-05-11 16:43] vtespinosa commented on #37
Hola, contigo completaríamos el grupo. Hablame al segundo número para agregarte al grupo de whatsapp.
Saludos.

[2020-05-11 16:43] #37 closed, assigned to nobody

[2020-05-12 21:22] Regenschrim opened #38 "Busco grupo para el proyecto"
Hola, no conozco a nadie en el curso por lo que no tengo grupo. Si algún grupo quiere o necesita un integrante, por favor, pónganse en contacto conmigo. Dejó mi correo y mi número por si quieren contactarme.

- miescudero@uc.cl
- +56973312377

Saludos!

[2020-05-13 17:20] franciscaguerra opened #39 "Busco grupo para proyecto"
Hola!
Busco grupo para el proyecto, cualquier cosa mi mail es fxguerra@uc.cl y mi número es 989234339.

Saludos

[2020-05-15 17:21] sameneses commented on #39
¿sigues sin grupo?
yo tampoco tengo, podemos ser juntos

[2020-05-16 17:40] Arcoirisky opened #40 "Ubicación Bloques Proyecto"
Hola, estoy metiendole mano a los archivos.bin y no me calzan las ubicaciones de los bloques de dirección. Se supone, por enunciado que su "numero de bloque" es 0, 65536, 131072 y 196608 (uno por cada partición)

Se supone que la posición en bytes debería ser Num_bloque*1024*8 no?
Cuando leo simdiskfilled.bin obtengo cualquier cosa para las siguientes particiones, el bloque de dirección 0 me lo le

[2020-05-16 18:28] Arcoirisky commented on #40
Corrijo, Los bloques 2 y 3, al parecer, no contienen lo que dice que contienen en la imagen simdiskfilled.bin ¿Esto esta bien?

[2020-05-16 18:29] IchottMano commented on #40
Hola!

Según tu, ¿que deberian contener exactamente estos bloques?

Saludos!

[2020-05-16 18:31] Arcoirisky commented on #40
nah, estaba viendo algo mal, mala mia.
Al parecer todo lo que no sea 0 es 1

[2020-05-16 19:20] Jiruiz2 opened #41 "Usar read y write (POSIX) en el proyecto"
Hola,

Quería consultar si podemos utilizar las funciones de POSIX read y write en nuestro proyecto o debemos encontrar otra manera de poder leer la información de los discos.

Saludos

[2020-05-16 23:39] IchottMano commented on #41
Hola!

Si, pueden usarlas.

Saludos!

[2020-05-17 16:24] SarahEverke opened #42 "Varias dudas"
Hola,

no nos queda claro cómo representar la estructura de archivos, ¿estaría bien definir la estructura de partición? ¿Qué nos recomiendan que tengan punteros, otras estructuras?

Saludos

[2020-05-17 16:52] SarahEverke commented on #42
¿Será necesario crear una estructura para el bloque de directorio/bitmap/datos, que tenga la información?¿O ya estaría ok si en una estructura partición guardo la ubicación de cada uno de estos elementos y con esta accedo a ellos?

[2020-05-17 17:17] SarahEverke commented on #42
Hola,
¿Cuánta información tiene un bloque?

[2020-05-17 20:25] IchottMano commented on #42
Hola!

La representación de la estructura queda su decisión, lo mas importante es que de demuestre una buena modelación de loa archivos y estructura del disco. Ustedes pueden modelar las estructuras como quieran.

Recuerden que un bloque posee siempre 8092 bytes de datos.

Saludos!

[2020-05-17 20:55] dfvasquez opened #43 "Duda proyecto: secuencia del puntero"
Hola!
Junto a mi grupo tenemos una duda sobre la siguiente parte del enunciado:
![imagen](https://user-images.githubusercontent.com/20784077/82159747-986f4c00-985e-11ea-8cb4-b9feaeced97e.png)

Se refiere a que hay que concatenar los primeros cuatro números del bloque? En otras palabras, para tener los primeros 4 Bytes? (todo esto en binario).

Nuestra duda es más que nada porque nos dio un número

[2020-05-18 02:40] cmp831 opened #44 "Write a un archivo ya existente"
Hola, tengo una duda respecto a la función `cr_open` en modo de escritura. Cuando dicha función es aplicada a un archivo ya existente, se debe sobre escribir ese archivo cuado se hace write? O simplemente podemos retornar que el archivo ya existe, y no se puede hacer el write?

[2020-05-18 20:11] Kitaps opened #45 "Pregutna 13 Actividad 05"
Hola, no entiendo bien que es lo que se me pide en la esta pregunta.

Sale que hay un ejemplo, pero no entiendo que es lo que dice ese ejemplo. Porque lo q entiendo que nos piden es que hay que pasar de hexadecimal a hexadecimal?

[2020-05-20 07:01] cruz opened #46 "I2: Aclaraciones de enunciado"
El contenido de esta issue se actualizará con las preguntas que se reciban. Para formular una nueva pregunta, responder a esta issue.

El link inicial a la reunión de zoom estaba incorrecto. Ya fue actualizado, pero de todas maneras el correcto es éste:

[https://zoom.us/j/97952789091?pwd=YStIMjJ1Y3FyMDVTanF2RE4yYnBjQT09](https://zoom.us/j/97952789091?pwd=YStIMjJ1Y3FyMDVTanF2RE4yYnBjQT09)
Meeting

[2020-05-20 12:53] sameneses commented on #46
¿que pasa con el zoom?
antes me conecte, pero no hablamos nada y ahora se cerro y me dice que el host esta en una reunión de intro a la progra

[2020-05-20 13:03] cruz commented on #46
El link estaba incorrecto. Lo acabo de actualizar en Canvas y aquí.

[2020-05-20 13:03] sameneses commented on #46
ok
Gracias

[2020-05-20 13:31] aaguilarg commented on #46
En la pregunta 5.2 dice que se ignore el puntero de indirección triple,es decir no lo consideramos en la expresión que debemos hacer? De ser así, en la pregunta 5.3, tampoco consideramos el puntero de indirección triple?
Gracias

[2020-05-20 13:52] cruz commented on #46
@aaguilarg Exacto. En la 5.2 no lo consideran. Eso es válido solo para la 5.2. En la 5.3 y 5.4 sí deben considerarlos.

[2020-05-20 16:29] Jiruiz2 commented on #46
Hola,

Quería saber si pueden re-explicar la pregunta 2, ya que no entiendo muy bien lo que están pidiendo.

Saludos.

[2020-05-20 16:34] roy350 commented on #46
Hola, me queda la duda en la pregunta 5.4, cuando se habla de "cuanto espacio  en disco" se refiere a un porcentaje comparado con el almacenamiento total, o cuantos bytes efectivamente se usan para cada archivo?

[2020-05-20 17:11] Jiruiz2 commented on #46
Hola,

¿Se puede utilizar información encontrada en internet en una respuesta si es que se cita la fuente?.

Saludos

[2020-05-20 17:14] Balepe666 commented on #46
Hola, en la pregunta 5 cuando dice que **el** index block tiene 20 punteros a datos se refiere a que todos los index block del disco tienen 20 punteros a datos o solo ese index block en específico.

Saludos!

[2020-05-20 18:02] IchottMano commented on #46
Hola!

@Jiruiz2 Si puedes usar información de internet, pero como dices, es preferible citarla.

@roy350 Se refiere a la cantidad de bytes.

Saludos! (Iré a preguntarle a Cristian sobre la pregunta 2)

[2020-05-20 18:23] cruz commented on #46
¡Gracias!. Subí las preguntas a la issue principal, agregué algunas precisiones, y respondí la última.

[2020-05-20 22:18] rjdelrio commented on #46
hola perdón por lo tarde de la pregunta, pero no entiendo esta pregunta:
![image](https://user-images.githubusercontent.com/26306472/82502539-5ac02c80-9ac5-11ea-857e-5995e7c59fd8.png)
no entiendo que es lo que piden, si es que quieren ixp chilenas, si quieren los proveedores de Internet chilenos, la isp regional chilena y por otro lado no se a que se refieren con el medio de transmisión , se refie

[2020-05-20 22:43] cruz commented on #46
@rjdelrio Se refiere a lugares físicos (geográficos). No se trata de IXPs.

[2020-05-21 19:35] aaguilarg opened #47 "Problemas leer index block"
Hola,
Con mi grupo estamos teniendo algunos problemas al leer el disco, pero esto solo se presenta al leer el bloque indice y la verdad no sabemos por qué ocurre y estábamos pensado si es que el disco podría presentar algun problemas con los datos, como datos sin sentido.
Creemos esto ya que, al leer los bloques de directorio y de bitmap, nos entregan datos con sentido y podemos leer correctamente

[2020-05-21 19:49] IchottMano commented on #47
Hola!

Siempre es posible que el disco haya tenido algun error al ser generado, sin embargo para arreglarlo necesitamos que sean un poco mas específicos sobre que errores o que datos estan recibiendo.

Saludos!

[2020-05-21 20:54] aaguilarg commented on #47
No hemos probado mucho, pero de momento tenemos que:
- Los punteros a bloques de datos del archivo "text.txt" de la particion 1, ninguno apunto al inicio de un bloque (hago puntero%(8 * 1024) y no me da cero ninguno)
- Ese mismo archivo tiene una cantidad superior a 1 millon de hardlinks
- El archivo "heapsort.png" tiene size file igual a cero

Eso es lo que hemos tenido hasta ahora, agradecería q

[2020-05-21 21:44] IchottMano commented on #47
Hola!

Estoy viendo los bloques del disco y veo tanto que el archivo text.txt solo tiene 1 hardlink y que heapsort.png tiene el tamaño correcto.

Aparte de esto, la verdad no entendí cual es el primer problema, por si me lo pueden aclarar.

Entonces puede ser debido a que leen mal el disco, si desean ver cual es el problema, podríamos coordinar una instancia a través de zoom para ver como estan ha

[2020-05-22 00:08] mbfuster opened #48 "[P01] Struct crfile"
Hola! con mi equipo estamos estableciendo la estructura del proyecto y no entendemos bien como funcionaría el struct crFILE o como sería su estructura ¿Podrían orientarnos un poco a que información se debe almacenar en esta estructura? o ¿Cómo deberíamos plantearnos los atributos que contiene? Muchas gracias!

[2020-05-22 00:30] aaguilarg commented on #47
Revisaremos entonces como estamos leyendo los bloques.
Supongo que de ahi tambipen nace el otro problema que decía, que es que los punteros a bloques de datos (de los bloques indices), nos resultaban ser punteros que no apuntan al inicio de un bloque, es decir no eran multiplos de 8KB.
Gracias

EDIT:
Lo soluciomos y era totalmente problema nuestro, disculpa las molestias

[2020-05-22 00:59] vaetchegaray opened #49 "[P01] Estructura de links"
Hola, implementando la función `cr_exists` me surgieron varias dudas:

- Como reconocer links? Cual es la convención para su nombre, siempre son de la forma `${n_disco}/${nombre_archivo}` ? Que pasa si tengo un archivo que se llama siguiendo esa convención y no es un link?
- Si encuentro un link que tiene el mismo nombre que el archivo que busco, entonces considero que ese archivo existe en esa pa

[2020-05-22 01:07] IchottMano commented on #48
Hola!

La estructura en sí del crFILE no tiene ningún elemento obligatorio, lo que quiere decir que estrictamente podría simplemente ser un struct con un string representando el nombre del archivo que se encuentran leyendo o escribiendo.

La idea, sin embargo, es que esta estructura les ayude a guardar información que les podría alivianar la implementación de las funciones open, write, read y clos

[2020-05-22 01:09] IchottMano commented on #49
Hola!

Los hardlinks son indistintos a un archivo común y corriente, pueden asumir que sólo los softlinks tendrán un nombre de forma ${n_disco}/${nombre_archivo}.

Si encuentran un link con el mismo nombre que buscan, efectivamente el archivo "existirá" en el disco (aunque su información no esté en el disco).

No existen subdirectorios en este sistema de archivos.

Saludos!

[2020-05-22 01:10] IchottMano commented on #44
Hola!

Esto está explicado en el bonus del proyecto.

Saludos!

[2020-05-22 01:13] IchottMano commented on #43
Hola!

Esto se refiere a que los bloques están numerados del 0 al 262143 para cuando leo un puntero. A lo que me refiero con esto es que si un puntero tiene el valor, por ejemplo, 12345, esto significa que estoy hablando de el bloque numero 12345 (se empieza desde el bloque 0).

Los bloques **no** poseen un número de bloque al principio, a lo que se refiere eso es que el numero de bloque siempre c

[2020-05-22 01:16] #47 closed, assigned to nobody

[2020-05-22 02:36] matiasop opened #50 "Problema con los bloques índices"
Hola

Logramos leer la información de los bloques índice, pero tenemos un problema con los punteros a los datos. El problema es que estos punteros no apuntan al inicio de un bloque (si se divide por 8KB, debiese ser un número entero, pero no pasa esto).

Ejemplo:
![image](https://user-images.githubusercontent.com/37161410/82625189-879e3d80-9bb2-11ea-9bf0-d161c6f5f74c.png)

En esta imagen se puede

[2020-05-22 03:02] IchottMano commented on #50
Hola!

¿Porqué debería ser divisible por 8192? Recuerda que este número apunta a un bloque específico, no a un byte.

Saludos!

[2020-05-22 03:42] matiasop commented on #50
Tienes razón. No sé por qué pensé que era un puntero al byte.

Muchas gracias. Perdón por la molestia.

[2020-05-22 18:40] tamaralues opened #51 "cr_exists"
Hola, tengo una dudad sobre el cr_exists, en el caso de la partición 4, hay un archivo que se llama aaaa.gif que se debería encontrar en la partición 1. Sin embargo, en esa partición ningun archivo se llama asi, deberíamos entonces revisar también que efectivamente se encuentre en esa partición o basta con que el nombre del archivo exista en la que estoy buscando?

[2020-05-22 18:46] IchottMano commented on #51
Hola!

Eso se conoce en la práctica como un **link roto**. Como es un caso que no esta especificado en el enunciado, cuenta para el **bonus** del proyecto que se hace con estos links.

Saludos!

[2020-05-22 19:07] Arcoirisky commented on #50
Eeeh es normal que los archivos soft links apunten como bloque índice al bloque cero?

[2020-05-22 19:08] Arcoirisky commented on #50
@IchottMano

[2020-05-22 19:26] IchottMano commented on #50
Hola!

@Arcoirisky Si, esto es normal, puesto que tienes que ir a buscar el archivo según su nombre a la partición correspondiente, y de ahí podrás obtener el bloque índice correspondiente.

Saludos!

[2020-05-22 19:27] Arcoirisky commented on #50
@IchottMano ok!

[2020-05-22 20:30] Kitaps opened #52 "Recorrección I1"
Hola,

Para la recorrección de la I1, como hay que hacer?

Gracias

[2020-05-22 20:31] Kitaps opened #53 "Disponibilidad semana de ajuste"
Hola,

Van a estar respondiendo issues durante la semana de ajuste?

Gracias :)

[2020-05-23 01:41] mbfuster commented on #48
Buenísimo gracias!

[2020-05-23 03:25] Pipelao opened #54 "Unload"
Hola,

Tenemos una duda con la función unload. Cuando se quiere una partición o el disco completo, ¿qué se coloca en orig?

Gracias.

[2020-05-23 19:15] Jiruiz2 commented on #43
Hola,

Nuestra duda se refiere a como interpretar y unir los primeros 4 bytes para obtener el número secuencial. Lo que hicimos era suponiendo que los primeros 4 bytes eran :
11111111
00000000
11111111
00000000
Entonces el número secuencial nos daría: 11111111000000001111111100000000
Y queremos confirmar si esto es correcto o no.

Saludos

[2020-05-23 19:18] IchottMano commented on #43
Hola!

@Jiruiz2 Efectivamente, ya que el disco debe trabajarse en **big endian**.

Saludos!

[2020-05-23 19:20] IchottMano commented on #54
Hola!

No esta escrito en el enunciado (error nuestro) pero esperamos que el string orig sea **NULL** para indicar que quieren copiar todo un sector.

Saludos!

[2020-05-24 06:20] Arcoirisky opened #55 "Puntero Direccionamiento Simple"
Sé que tengo 2044 punteros de direccionamiento directo en mi bloque indice de un archivo y 1 puntero de direccionamiento simple (en caso de ser necesario)

mi pregunta es, este puntero de direccionamiento simple ¿apunta a un bloque con 2048 punteros más? Onda, ¿todo el espacio destinado a ese bloque de datos es de punteros a otros bloques de datos?

[2020-05-24 19:44] aaguilarg opened #56 "No space left on device"
Hola,

Intentando subir la carpeta del proyecto (con el comando:
 "scp -r P1/ anaguilar@iic2333.ing.puc.cl:/user/anaguilar")
me apareció este error:

`scp: /user/anaguilar/P1: No space left on device`

¿Qué hago? ¿Algun error en el comando?

[2020-05-24 21:03] johntrombon opened #57 "tamaño archivos"
Hola, dudas sobre como se calcula el tamaño de los archivos.
Por tamaño se refiere exclusivamente a los bytes contenidos en sus bloques de datos o debo considerar el bloque indice o el de indireccionamiento tambien ?
Se asume que todos los bloques de datos están llenos salvo el ultimo ?
Se asume también que el espacio del bloque indice y el de indireccionamiento se van llenando secuencialmente ? m

[2020-05-24 22:10] IchottMano commented on #56
Hola!

Podrías volver a intentarlo? Sucedió ya que algunos alumnos subieron los discos al servidor, hablaremos con esos alumnos en brevedad, pero ya los eliminamos, a si que porfavor dinos si te funciona. De lo contrario, espera algunos minutos ya que puede tratarse de otros alumnos descargando los discos.

Saludos!

[2020-05-24 22:10] IchottMano commented on #55
Hola!

Como dice el enunciado, los punteros de indirección simple tienen todo su espacio para punteros a bloques de datos.

Saludos!

[2020-05-24 22:12] IchottMano commented on #57
Hola!

El tamaño se refiere a los bytes unicamente de los bloques de datos.

Todas tus otras asunciones son correctas.

Saludos!

[2020-05-24 22:15] aaguilarg commented on #56
Ahora si pude, muchas gracias :smile:

[2020-05-24 22:15] #56 closed, assigned to nobody

[2020-05-25 00:05] BenjaLepe opened #58 "Entradas del bloque directorio"
En el bloque directorio, en cada entrada de directorio tenemos 23 bits que son para el numero de bloque al cual pertenece el directorio y un bits de validez. El problema que tengo es que cuando leo cada entrada me aparecen los nombres correctos pero las direcciones me aparecen mal. El primer bit siempre esta en 0, sin embargo, el último bit esta en 1 para los archivos existentes por eso aparece un

[2020-05-25 01:19] AntoniaChristensen commented on #49
Hola!
Me surgió una duda respecto a esto. En el enunciado dice:

determinada particion. Retorna ´ 1 si el archivo existe y 0 en caso contrario.

De esta forma, en el caso del simdiskfilled por ejemplo, si yo llamo a `cr_exists(4, "Baroque.mp3")` esto debería decir que existe o no? Porque entiendo que si el caso fuese `cr_exists(4, "1/Baroque.mp3")` ahí si existe pero no me queda tan claro el caso

[2020-05-25 01:20] AntoniaChristensen opened #59 "cr_open en caso de softlinks"
Hola! tengo una duda respecto a como debería funcionar el cr_open cuando estamos tratando con softlinks. Suponiendo el caso del simdiskfilled, si estamos en la partición 4 y buscamos abrir en modo escritura el archivo "Program in C.mp4" (no "2/Program in C.mp4"), en este caso qué debería pasar exactamente?? Porque me confunde si hay que tomar el nombre o el contenido a la hora de ver si un archivo

[2020-05-25 18:08] IchottMano commented on #59
Hola!

En ese caso deben buscar que el archivo exista en la partición correspondiente y abrirlo. Para ver que un archivo existe, simplemente basta con buscar una entrada en el directorio con el nombre correcto, independiente si es un link o no.

Saludos!

[2020-05-25 18:54] Arcoirisky opened #60 "contenido archivos"
Hola!
¿podrían decirnos el contenido o darnos los archivos que se están guardando en el disco simdiskfilled.png? Intento hacer unload con text.txt y aparecen palabras y cosas extrañas xD
quiero saber que estoy haciendo mal u-u

[2020-05-25 19:00] jmsilvas opened #61 "Fecha Entrega Proyecto"
Hola, cuál es la fecha de entrega del proyecto?? En el enunciado sigue saliendo para hoy 25, no sé si hubo un anuncio al respecto por la semana de pausa...

Gracias de antemano!

[2020-05-25 19:53] IchottMano commented on #61
Hola!

Debido a la semana de pausa, estaría quedando para el próximo Lunes a la misma hora.

Saludos!

[2020-05-25 20:29] VicenteVicente opened #62 "[Estructura de disco] - Directorios"
El enunciado y la ayudantía se contradicen un poco. ¿Es posible que haya una entrada en el bloque directorio que apunte hacia otro bloque de directorio distinto, o solamente puede apuntar a **índices de archivos**?

En caso de que puedan existir punteros a otros bloques de directorio, ¿cómo se diferenciarían de un puntero a un bloque índice de archivo? ¿Por su extensión, o algún bit nos entregará

[2020-05-25 20:30] jmsilvas commented on #61
Ok, gracias!

[2020-05-25 20:37] VicenteVicente commented on #62
En la ayudantía solo mencionaron "archivos" no subdirectorios, es un poco confuso esto.

[2020-05-25 21:32] silvamatias commented on #62
Tengo la misma duda que @VicenteVicente

[2020-05-25 21:33] IchottMano commented on #62
Hola!

Esto es un error de un enunciado pasado. No hay subdirectorios.

Saludos!

[2020-05-25 22:20] SaritaGP opened #63 "[P01] disk = 0 en cr_exists y cr_ls"
Hola! en la función cr_bitmap se especifica qué debe hacer si se ingresa disk=0, en el caso de cr_exists y cr_ls, ¿asumimos que es un input incorrecto o debe realizar algo en especifico?

[2020-05-25 23:21] Arcoirisky commented on #54
Pregunta, cuando se descargan las particiones ó el disco completo tenemos que usar directorios o algo para diferenciarlos o solo nos importan los archivos? ¿esta a nuestra eleccion usar directorios o nombres clave?

[2020-05-26 00:08] Pipelao opened #64 "Indentificar un Bloque Directorio"
Hola,

Tenemos una pregunta con respecto a la identificación de una entrada de directorio, ¿cómo saber si la entrada de directorio corresponde a un bloque de directorio o un bloque índice por ejemplo?

Gracias.

[2020-05-26 00:18] KnowYourselves commented on #64
Hola @Pipelao!

Es un error de enunciado, no hay sub directorios.

[2020-05-26 00:19] KnowYourselves commented on #63
Hola @SaritaGP!

Pueden asumir que ese input es incorrecto. Para el bonus van a tener que implementar una forma estándarizada para reaccionar a ese tipo de inputs erróneos.

[2020-05-26 00:19] KnowYourselves commented on #53
Hola @Kitaps!

Por supuesto!
No prometemos inmediatidad, lamentablemente 👀

[2020-05-26 02:06] Pipelao commented on #64
Ok, gracias.

[2020-05-26 23:11] Kitaps commented on #53
jaja no worrys

[2020-05-26 23:28] Kitaps opened #65 "Instancias de ayuda"
Hola,

para las instancias de ayuda que hay que hacer?

[2020-05-27 00:29] jmsilvas commented on #59
Hola, sólo para asegurarme, esto quiere decir que cr_exists retorna 1 cuando tenemos únicamente un softlink al archivo?

[2020-05-27 20:35] Kitaps opened #66 "concatenar unsigned char con char"
Hola,

tenemos en nuestro projecto que de consola reciva el input.
Esto es un char*

Pero como hacemos que esto pase a ser un unsigned char para poder pasarselo a la funcion?

Aprovechando la pregutna, para que son los unsigned char?

[2020-05-27 22:59] Jiruiz2 opened #67 "Duda con Cr_mount"
Hola,

Cuando explican lo que debe hacer cr_mount dicen lo siguiente
void cr_mount(char* diskname). Función para montar el disco. Establece como variable global la
ruta local donde se encuentra el archivo .bin correspondiente al disco.

Mi duda es si es necesario realmente se haga exactamente lo que se dice (setear la variable global) o puedo retornar un struct Disk con toda la información que uti

[2020-05-28 03:02] dvogaz opened #68 "Puntaje de cr_unload y cr_load"
Hola,
Según el enunciado `cr_unload` tiene 0.8 puntos y ` cr_load` no tiene puntaje asignado. Mi duda es, efectivamente esto es? así o en realidad el puntaje se reparte `cr_unload` = 0.4 y `cr_load` = 0.4?.

[2020-05-28 06:59] Arcoirisky commented on #68
![8F490A38-EEB3-4884-B97B-FFEA56A80CEE](https://user-images.githubusercontent.com/26121402/83109336-3d73fb00-a08f-11ea-8aa6-5f09bd33c633.jpeg)

[2020-05-28 16:26] IchottMano commented on #68
Hola!

Efectivamente, se nos pasó ese detalle.

Es como tu lo dices, el 0,8 se reparte entre ambas funciones. Muchas gracias por avisarnos!
@KnowYourselves 👀

Saludos!

[2020-05-28 16:28] IchottMano commented on #67
Hola!

El problema con entregar un struct, es que despues necesitas acceder a la información, sin embargo esto es difícil si no seteas una variable global, puesto que después no podrías acceder a la información del disco.

Lo que es perfectamente válido sería crear una variable global de tipo struct Disk.

Saludos!

[2020-05-28 16:40] IchottMano commented on #66
Hola!

Los unsigned char son iguales a los char en cuestión de memoria, sin embargo los rangos que tienen son distintos (char va de -128 a 127 mientras que unsigned char va desde 0 a 255).

Lo que podrían hacer, dado que tanto char como unsigned char tienen el mismo tamaño, es simplemente **castear** el puntero, esto significa que cambiamos el tipo del puntero explícitamente.

[code]

También, si

[2020-05-28 16:42] IchottMano commented on #65
Hola!

Les recordamos que la instancia de ayuda se realizó el Viernes 15 de Mayo en horario de ayudantía.

Saludos!

[2020-05-28 16:43] IchottMano commented on #60
(Cierro por que se resolvió por telegram)

[2020-05-28 16:43] #60 closed, assigned to nobody

[2020-05-28 19:49] Jiruiz2 opened #69 "Duda sobre Paths"
Hola,

Quería saber como se definen los paths por ejemplo para poder hacer un softlink o un hardlink, ya que estos reciben un path de origen y uno de destino, ya que no entiendo muy bien esto.

Saludos.

[2020-05-28 19:54] Jiruiz2 opened #70 "Retorno de int en cr_softlink, cr_hardlink, cr_rm, etc."
Hola,

Al revisar el enunciado noté que estas funciones deben retornar un int, sin embargo no se explica en que consiste este valor. Asumo que es para revisar si se realizó correctamente o no la función, sin embargo, en caso de que controle esto en la misma función, podría retornar void en vez de int?

Saludos.

[2020-05-28 20:11] IchottMano commented on #70
Hola!

La significancia del valor de retorno depende si haces o no el bonus. Sin embargo, es imperativo que el valor de retorno sea un int.

Saludos!

[2020-05-28 22:53] Kitaps commented on #65
Oh, dale. Gracias, tenía la idea de haber leído que, además de la instancia de ayuda grupal en el día de la ayudantía, iban a hacer instancias de ayuda individual una vez para cada grupo.
Lo debo haber soñado(?)

[2020-05-28 22:54] Kitaps commented on #66
Muchas gracias

[2020-05-29 01:14] leolivares opened #71 "Hardlink de un Softlink"
Hola! Nos surgió una duda con respecto al comportamiento esperado al intentar crear un hardlink a partir de un softlink.
En este caso deberíamos permitirlo solo si el softlink apunta a un archivo que se encuentra en la misma partición? Deberíamos no permitirlo? O quizás es otra de las cosas que quedan a nuestro criterio?

Muchas gracias.

[2020-05-29 02:19] SaritaGP commented on #65
@Kitaps en el anuncio "Temas varios P01" si dicen que serán 2 instancias de ayuda y en la ayudantía también mencionaron que habrían más sesiones de ayuda (yo no entendí que esas iban a ser individuales para cada grupo) así que no lo soñaste, supongo que no hicieron la segunda instancia de ayuda por tiempo pero habría sido bien útil :c

[2020-05-29 04:30] SarahEverke opened #72 "Duda bloque de indireccionamiento indirecto"
Hola,

estamos leyendo un archivo que solo usa su primer bloque de datos. No obstante, al leer los bloques de indireccionamiento indirecto hay unos que está ocupados (muestran direcciones que no existen porque son muy grandes o negativas).
Mi duda es por qué hay bloques de indireccionamiento indirecto que están ocupados con valores que no 'existen' si no se usan?
Saludos

![Captura de pantalla 202

[2020-05-29 06:08] silvamatias opened #73 "Aclaraciones softlinks"
Hola, quería preguntar si pueden aclarar el funcionamiento de los softlinks ya que en el enunciado no esta claro.

Dudas:

- Como se identifican los softlinks?

- El nombre indica la partición en donde hay que buscar el archivo? particion/nombre

- En el simdiskfileld.bin todos apuntan como "bloque indice" al 0. En la issue #50 mencionan que esto esta bien porque hay que buscarlos en ese directori

[2020-05-29 22:42] #69 closed, assigned to nobody

[2020-05-29 23:46] #64 closed, assigned to nobody

[2020-05-30 00:07] Jiruiz2 commented on #73
Quiero sumarme a la duda agregando lo siguiente:
![imagen](https://user-images.githubusercontent.com/26437497/83314266-a9697700-a1e7-11ea-8197-0018233992f5.png)
- char* orig: Es el nombre ("Baroque.mp3) o la ruta del archivo ("1/Baroque.mp3")
- ¿Por qué existe char* dest, tomando en cuenta que un softlink es la concatenación entre la partición a la que pertenece y el nombre del archivo ("2/Baroque

[2020-05-30 00:25] Pipelao opened #74 "cr_open de un softlink"
Hola,

Tenemos una pregunta con respecto al cr_open de un softlink en modo lectura, si por ejemplo en la partición 4 se ingresa que se quiere leer "Baroque3.mp3", ¿hay que decir que no existe el archivo o nos dirijimos al softlink con "1/Baroque.mp3"?

Gracias.

[2020-05-30 01:22] IchottMano commented on #71
Hola!

Esto queda a su criterio, pero a priori diría que es mas fácil simplemente no dejar que se genere un hardlink de un softlink.

Saludos!

[2020-05-30 01:27] IchottMano commented on #72
Hola!

Si un archivo sólo utiliza un bloque de datos (lo sabemos porque sabemos su tamaño) nos da lo mismo si existen o no punteros mas allá de el que nos interesa. (A priori esto no debería pasar, podría ser ya sea por un problema de como leen, de memoria o un error nuestro)

En la práctica, es muy costoso e innecesario reescribir los datos que ya no nos sirven en un disco, por lo que podría habe

[2020-05-30 01:27] IchottMano commented on #74
Hola!

Esto queda a su criterio, pero deben ser consistentes.

Saludos!

[2020-05-30 01:32] IchottMano commented on #73
Hola!

@silvamatias Existen dos maneras de identificar un softlink, la primera de ellas es por el nombre y la segunda es si el bloque indice al que apuntan es 0. El nombre como dices indica donde se encuentra el archivo apuntado. El link apuntando a 3/Baroque.mp3 es válido, sin embargo el link está **roto** puesto que el archivo al que apunta no existe.

@Jiruiz2 Orig es el nombre del archivo (Bar

[2020-05-31 03:11] Pipelao opened #75 "cr_unload de disco o partición"
Hola,
Tenemos una pregunta con respecto a la función unload de un disco o partición, ¿se deben descargar los archivos de esta partición/disco o los bytes para guardar el archivo como .bin?

Gracias.

[2020-05-31 06:49] Jiruiz2 opened #76 "Manejo de la información del disco"
Hola,

Con el fin de poder aumentar la eficiencia del programa, con mi grupo guardamos toda la información del disco en una estructura Disk, por lo que solo leemos el archivo una vez, sin embargo, por el grupo de telegram se mencionó que esto no era lo más óptimo, ya que si aumentan el tamaño del disco entregado, la RAM de nuestros computadores puede no ser suficiente. Sin embargo, esto sigue sien

[2020-05-31 07:58] Arcoirisky commented on #75
No soy ayudante pero hasta donde tengo entendido es descargar los archivos. si te piden descargar de todo el disco o la particion es literal tomar toda la particion (o disco) y descargarlos.

Además, tan bien buenos los archivos como para dejarlos en otro .bin

[2020-05-31 08:02] Arcoirisky commented on #76
Según yo, depende de como lo hagas. Yo tengo una estructura también pero no guardo toda la información, solo lo relevante para reconocer y ubicar un archivo.

Además, la lectura se hace más amena cuando usas funciones como fseek que te permiten ir a puntos específicos del disco en vez de leer toooodo de corrido.

En el grupo habia un caso donde se demoraba como 5 minutos en hacer una acción, eso s

[2020-06-02 06:43] #49 closed, assigned to nobody

[2020-06-09 17:03] #46 closed, assigned to nobody

[2020-06-09 17:03] #48 closed, assigned to nobody

[2020-06-09 17:03] #50 closed, assigned to nobody

[2020-06-09 17:03] #51 closed, assigned to nobody

[2020-06-09 17:03] #52 closed, assigned to nobody

[2020-06-09 17:03] #53 closed, assigned to nobody

[2020-06-09 17:03] #54 closed, assigned to nobody

[2020-06-09 17:03] #55 closed, assigned to nobody

[2020-06-09 17:03] #57 closed, assigned to nobody

[2020-06-09 17:03] #58 closed, assigned to nobody

[2020-06-09 17:03] #59 closed, assigned to nobody

[2020-06-09 17:03] #61 closed, assigned to nobody

[2020-06-09 17:03] #62 closed, assigned to nobody

[2020-06-09 17:03] #63 closed, assigned to nobody

[2020-06-09 17:03] #65 closed, assigned to nobody

[2020-06-09 17:03] #66 closed, assigned to nobody

[2020-06-09 17:03] #67 closed, assigned to nobody

[2020-06-09 17:03] #68 closed, assigned to nobody

[2020-06-09 17:03] #70 closed, assigned to nobody

[2020-06-09 17:03] #71 closed, assigned to nobody

[2020-06-09 17:03] #72 closed, assigned to nobody

[2020-06-09 17:03] #73 closed, assigned to nobody

[2020-06-09 17:03] #74 closed, assigned to nobody

[2020-06-09 17:03] #75 closed, assigned to nobody

[2020-06-09 17:03] #76 closed, assigned to nobody

[2020-06-09 17:03] #15 closed, assigned to nobody

[2020-06-09 17:03] #16 closed, assigned to nobody

[2020-06-09 17:03] #17 closed, assigned to nobody

[2020-06-09 17:03] #18 closed, assigned to nobody

[2020-06-09 17:03] #19 closed, assigned to nobody

[2020-06-09 17:03] #20 closed, assigned to nobody

[2020-06-09 17:03] #21 closed, assigned to nobody

[2020-06-09 17:03] #22 closed, assigned to nobody

[2020-06-09 17:03] #24 closed, assigned to nobody

[2020-06-09 17:03] #25 closed, assigned to nobody

[2020-06-09 17:03] #26 closed, assigned to nobody

[2020-06-09 17:03] #27 closed, assigned to nobody

[2020-06-09 17:03] #29 closed, assigned to nobody

[2020-06-09 17:03] #30 closed, assigned to nobody

[2020-06-09 17:03] #31 closed, assigned to nobody

[2020-06-09 17:03] #33 closed, assigned to nobody

[2020-06-09 17:03] #36 closed, assigned to nobody

[2020-06-09 17:03] #38 closed, assigned to nobody

[2020-06-09 17:03] #39 closed, assigned to nobody

[2020-06-09 17:03] #40 closed, assigned to nobody

[2020-06-09 17:03] #41 closed, assigned to nobody

[2020-06-09 17:03] #42 closed, assigned to nobody

[2020-06-09 17:03] #43 closed, assigned to nobody

[2020-06-09 17:03] #44 closed, assigned to nobody

[2020-06-09 17:03] #45 closed, assigned to nobody

[2020-06-09 17:03] #1 closed, assigned to nobody

[2020-06-09 17:03] #2 closed, assigned to nobody

[2020-06-09 17:03] #3 closed, assigned to nobody

[2020-06-09 17:03] #4 closed, assigned to nobody

[2020-06-09 17:03] #5 closed, assigned to nobody

[2020-06-09 17:03] #6 closed, assigned to nobody

[2020-06-09 17:03] #7 closed, assigned to nobody

[2020-06-09 17:03] #8 closed, assigned to nobody

[2020-06-09 17:03] #9 closed, assigned to nobody

[2020-06-09 17:03] #10 closed, assigned to IchottMano, Taeval

[2020-06-09 17:03] #11 closed, assigned to nobody

[2020-06-09 17:03] #12 closed, assigned to nobody

[2020-06-09 17:03] #13 closed, assigned to nobody

[2020-06-09 17:03] #14 closed, assigned to nobody

[2020-06-09 22:13] rjdelrio opened #77 "buscando grupo proyecto 2"
hola soy solo 1 y estoy buscando grupo para el proyecto 2 :D, por si alguien necesita un compañero de grupo adicional :D

[2020-06-10 16:04] aaguilarg opened #78 "Ruta al tablero"
En el enunciado se indica que:

debe ser usada por su servidor para generar el tablero del juego.

¿Esto significa que el archivo del tablero está en el servidor? ¿O el cliente deberá enviarle el contenido del archivo al servidor y este tendrá que encangarse de guardarlo?

[2020-06-10 17:03] ariel-m-s commented on #78
Hola @aaguilarg!

El archivo `.txt` lo carga el jugador 1 desde su computador. Luego el cliente le envía esa información al servidor. Por lo tanto, esa ruta se refiere a una ruta local del computador del jugador 1. (El jugador en reliadad no tiene cómo saber qué archivos hay en el servidor.)

Saludos.

[2020-06-10 17:05] aaguilarg commented on #78
Perfecto, muchas gracias! :smile:

[2020-06-11 18:21] FloValdes opened #79 "P02 - Caer en la casilla de salida"
Hola, es posible caer y quedarse en la casilla de salida? si es así, los 20 méritos se dan después de que salga de esta?

Gracias!

[2020-06-11 18:52] ariel-m-s commented on #79
Es una manera válida de hacerlo! Decide tú cómo va a funcionar y déjalo especificado en tu `README.md`.

Saludos 💻 😀

[2020-06-12 22:52] roy350 opened #80 "P02 - Duda luego de usar un poder"
Hola!, tenemos una duda con respecto al poder Duelo, luego de usarlo, segun enunciado dice "Una vez terminado el duelo, el jugador continua su turno", esto quiere decir que despues de este poder, el jugador "Avanza" y en ese caso se tiene que dar la opción de escoger si se quiere mover automaticamente o manualmente, o simplemente tiramos el dado y se mueve automaticamente.

Aparte en el poder roba

[2020-06-13 00:22] Taeval commented on #80
Oh no! Es un error de enunciado. Si usas un poder, tu turno se acaba una vez terminado el efecto. En el caso del poder Duelo, una vez terminado el duelo, tu turno termina.

[2020-06-13 04:19] ariel-m-s opened #81 "[P2] Aclaraciones"
Hola! En esta _issue_ escribiremos todas las aclaraciones de enunciado. La dejaré _pineada_ y la iremos actualizando a medida que surjan nuevas aclaraciones.

1. (A partir de la _issue_ #80.) (El enunciado ya fue editado, así que esto va solo para quienes revisen una versión anterior de este.) Durante un turno, el jugador solo puede ejecutar una acción: (1) utilizar un poder, (2) rendirse o (3) av

[2020-06-13 21:48] Regenschrim opened #82 "Búsqueda de grupo"
Hola! Simple jaja estoy buscando grupo para el proyecto. Si a alguien le falta algún integrante o quiere tener uno más, me pueden escribir. Gracias!

- +56973312377
- miescudero@uc.cl

[2020-06-14 03:05] SarahEverke opened #83 "Fin del juego"
Hola,

Cuando termina el juego, ¿se desconectan ambos jugadores del servidor? ¿Los jugadores siguen conectados y pueden desconectarse o iniciar otra partida?

Saludos

[2020-06-14 23:50] #82 closed, assigned to nobody

[2020-06-14 23:56] Pipelao opened #84 "Enviar tablero a cliente"
Hola,

Tenemos una pregunta acerca del envío del tablero entre cliente y servidor. Una vez que el servidor cuente con la información del tablero, ¿este debe enviar el tablero en cada turno o debe enviar sólo las modificaciones y el usuario actualizar el tablero y luego printearlo?

Gracias.

[2020-06-15 00:29] ariel-m-s commented on #84
Hola @Pipelao!

Según el funcionamiento del juego explicado en el enunciado, el tablero (con esto me refiero específicamente a las casillas y su orden, y no al resto de los elementos) no cambia durante una partida. Por lo tanto, **es válido** que el cliente almacene la información del tablero (es decir, el orden de las casillas) y que el servidor le vaya mandando solamente la información actualiza

[2020-06-15 00:46] ariel-m-s commented on #83
Hola @SarahEverke!

Cualquiera de las opciones que mencionas es válida. Eso sí, ten en cuenta que para obtener el puntaje completo deberás mostrar en pantalla quién es el ganador de la partida y la razón por la cual ganó (consiguió 3 Estrellas Ruz o bien su contrincante decidió rendirse).

En el caso particular del bonus 2, sí deberás preguntarle a cada uno de los jugadores qué desea hacer (jugar

[2020-06-15 17:50] matiaseche opened #85 "[P2] Duda menú de acciones"
Hola, tengo una duda sobre cómo hacer el manejo del menú. Hago un menú estándar del lado del cliente que se muestre en caso de ser su turno? O debería enviar un menú desde el servidor?

Lo mismo para movimiento y poderes. Si se quiere mover, es necesario enviarle al servidor que decidió moverse, y después pedir cómo? O basta con desplegar un nuevo menu donde elija como moverse? Misma duda para los

[2020-06-15 18:31] Pipelao commented on #84
Perfecto, gracias @ariel-m-s .

[2020-06-15 18:44] ariel-m-s commented on #85
Hola @matiaseche,

El cliente puede generar los menús y "sub-menús", así que basta solo con enviar la decisión final del jugador. En el ejemplo del movimiento, el cliente puede enviar directamente la información de cómo moverse (y cuánto, si elige la forma _manual_), sin antes avisar que se va a mover, pero cualquier cálculo resultante de ese movimiento debe ser ejecutado por el servidor. Lo mismo

[2020-06-16 03:14] SarahEverke commented on #78
Hola,
¿Entonces el cliente le envía el contenido del .txt al servidor?
Saludos

[2020-06-16 14:56] ariel-m-s commented on #78
Claro, el cliente debe enviarle esa información al servidor para que este último pueda reenviarsela al otro jugador y además para que tenga la información necesaria para computar toda la lógica del juego (_e.g._, calcular en qué casilla están los jugadores y cuáles son los efectos de esto).

Ariel

[2020-06-16 15:54] SarahEverke commented on #78
Súper, muchas gracias

[2020-06-16 22:08] ninifdr opened #86 "casilla E"
Hola! La casilla E es única en el juego y siempre está al final? O podría haber una casilla E en la mitad que, si caes en ella, tienes q volver al inicio

[2020-06-17 00:01] ariel-m-s commented on #86
Hola @ninifdr,

Efectivamente, nos faltó explicitar eso en el enunciado. La casilla `E` es única y siempre corresponde a la última del tablero. (Esto hace sentido, ya que si el su efecto sucede al **pasar** por ella, a diferencia de las otras casillas.)

Saludos 🥝,
Ariel

[2020-06-17 00:13] ninifdr commented on #86
Y otra pregunta sobre la casilla E!
Si por ejemplo estoy en la penúltima casilla (1 antes de la E) y quiero avanzar dos pasos: quedo en la primera casilla (es decir, gasto un paso en ir desde E a la primera) o quedo en la segunda (pasar de la E a la primera es automático, como que te "traslada" a la primera y de ahí avanzo dos pasos)?

[2020-06-17 03:05] Taeval commented on #86
Eso queda a decisión de tu grupo. Puede ser cualquiera de las 2 opciones que mencionas.

[2020-06-18 07:33] mbfuster opened #87 "Sobre punteros a structs"
Hola! hace tiempo que tengo una duda sobre punteros y estructuras. Si hago un puntero a un struct que hice yo y lo igualo (uso literalmente "=" ) a un puntero ya existente de una instancia de ese struct, y hago cambios en sus atributos, estos se guardarán en el original?¿Existe algun tipo de descordinación en la actualización de los atributos en el objeto apuntado por mi puntero original? Lo que e

[2020-06-18 19:40] ariel-m-s commented on #87
Hola @mbfuster,

Para asegurarme de que estamos hablando de lo mismo, consieremos el siguiente código:
[code]

En este caso `puntero_a_un_struct` y `otro_puntero_al_mismo_struct` son dos punteros con exactamente el mismo valor (porque ocupamos el operador `=`). Eso siginifica que apuntan a exactamente el mismo _objeto_ (o _dirección de memoria_, para ser precisos). Entonces sí, cambiar los "atribu

[2020-06-18 19:58] ariel-m-s opened #88 "[Bonus P2] SSH Tunneling"
Estimad@s,

Les dejo acá [un artículo](https://chamibuddhika.wordpress.com/2012/03/21/ssh-tunnelling-explained/) que puede ser de utilidad para hacer el Bonus 3. Específicamente, lean la parte de _Tunnelling with Local port forwarding_.

Saludos,
Ariel

[2020-06-18 22:20] Arcoirisky opened #89 "Actividades SO y Programa"
Hola!

En el programa actualizado se dice que deberían ser (ojalá) 7 actividades de S0 y que se borraran las 3 peores notas de entre estas 7

Llevamos 5 Actividades y quería saber si se mantiene lo de borrar las peores 3 entres las 5 que tenemos 🤔

[2020-06-18 22:32] mbfuster commented on #87
Gracias! me quedo claro. Voy a revisar si puedo sacar el puntero intermedio jaja

[2020-06-19 01:24] #77 closed, assigned to nobody

[2020-06-19 16:25] Iruretagoyena opened #90 "Activación/desactivación de casillas"
El enunciado describe estados de activación/desactivación de casillas.

P1 cae en "Sala Alvaro Campos", gana 30 puntos, termina su turno.
Si P2 avanza y cae en la misma, con P1 todavía ahí, recibe los 30 puntos ?
Lo mismo para cualquier casilla.

Gracias !!

[2020-06-19 17:30] ceosorio opened #91 "[P2] Duda con Casilla R"
Hola!

En el enunciado sale que al terminar en la Casilla **R**, si uno tiene 20 méritos, se cambian por una Estrella Ruz. Lo que no me queda muy claro es cuando uno tiene, por ejemplo, 40 méritos. Se cambia una sola estrella o el jugador puede obtener más de una? (en el caso de ejemplo serían 2)

[2020-06-19 19:50] ariel-m-s commented on #90
Hola @Diiru,

Sí, los efectos de las casillas ocurren siempre, independiente de si el otro jugador ya está ahí.

Saludos,
Ariel

[2020-06-19 20:10] ariel-m-s commented on #91
Hola @ceosorio,

Es una sola estrella, inedpendiente de cuantos méritos tenga el jugador. Por ejemplo, si tiene 40 méritos gana una estrella y se queda con 20 méritos.

Saludos 🌟,
Ariel

[2020-06-19 23:41] Jiruiz2 commented on #84
Hola,
Sobre lo mismo si en lugar de almacenar el tablero lo envío cada vez, hay algún problema?

[2020-06-19 23:43] Jiruiz2 opened #92 "[P2] -Tamaño máximo del tablero"
Hola,

Quería preguntar si hay algún tamaño máximo definido que puede tener un tablero.

Saludos.

[2020-06-20 00:53] ariel-m-s commented on #84
Hola @Jiruiz2,

Ningún problema con eso. También es válido.

Saludos,
Ariel

[2020-06-20 01:00] ariel-m-s commented on #92
Hola,

No exite un máximo explícito, pero debe caber dentro del _payload_ de un paquete normal. Supongo que eso hace que el largo máximo sea de 255 caracteres (_bytes_). Pero no te preocupes por eso porque tampoco vamos a probar con el caso límite. Entonces, considera un largo normal; de no más de unos 100 caracteres.

Saludos ☕,
Ariel

[2020-06-20 01:10] ariel-m-s commented on #89
Hola @Arcoirisky,

No te estamos ignorando; estábamos pensando 🤔. El lunes estará la respuesta definitiva, así que atenta.

Saludos,
Ariel

[2020-06-20 05:42] Arcoirisky commented on #89
Tranqui, pensé que sería complicado xD Pero una idea sería útil para ver si entrar en pánico o no jdsjdk

[2020-06-20 22:27] Kitaps opened #93 "Suposición de turnos"
Hola

podemos suponer que los clientes solo van a mandar mensajes en sus turnos?

O tenemos que manejar que los usuarios manden sus mensajes fuera de sus turnos?

[2020-06-21 02:03] ariel-m-s commented on #93
Hola @Kitaps,

En tu comentario mencionas al _cliente_ y al _usuario_. Es bueno que hagamos una diferencia. En primer lugar, los mensajes enviados entre _cliente_ y _servidor_ los debes manejar tú como programador.

Ahora bien, no entiendo a qué te refieres con que los _usuarios_ manden mensajes fuera de sus turnos. Lo que te puedo decir es que los jugadores deben esperar a que sea su turno para e

[2020-06-21 04:01] Kitaps commented on #93
ahh me enrede me refería cliente y servidor

[2020-06-21 04:02] Kitaps commented on #93
sii muchas gracias, me queda claro con tu explicación

[2020-06-21 18:02] vbarreradg opened #94 "[Bonus P2] Imágenes"
Hola!
Para el bonus de las imágenes se indica que en el paquete se debe incluir el total de paquetes a enviar en 1 byte, por lo que máximo serían 255 paquetes, donde cada uno tiene máximo 255 bytes de información en el payload. Entonces, el tamaño total de la imagen no podría ser mayor a 255*255 = 65025 bytes. Pero las imágenes de winner y loser que están en canvas las imágenes son más grandes que

[2020-06-21 18:21] ariel-m-s commented on #94
Hola @vbarreradg,

¡OH NO! 😢 No nos dimos cuenta de eso. (Buena observación.) Sí, puedes ignorar las imágenes que subimos y usar imágenes más chicas. No hay problema.

Alternativamente, puedes enviar una parte de las imágenes que subimos (_i.e._, truncarlas cuando llegue al tope) o bien modificar el paquete de manera tal que puedas enviar imágenes más grandes. Esto lo puedes hacer de dos maneras:

[2020-06-21 18:52] Taeval commented on #94
Perdón por el inconveniente, se nos pasó :cold_sweat:
Vamos a subir las mismas imágenes pero comprimidas, para que cumplan con el tamaño máximo!

[2020-06-21 21:32] Kitaps opened #95 "Input usuarios"
Podemos asumir que los usuarios entregarán el input correcto o tenemos que hacer un manejo de errores para inputs inesperados?

[2020-06-22 00:39] Kitaps commented on #95
Respondido, por si alguien tiene la misma duda:

![image](https://user-images.githubusercontent.com/10112117/85238957-4f7f5a00-b3ff-11ea-8fac-f6f6418987c6.png)

[2020-06-22 17:10] Arcoirisky commented on #89
@ariel-m-s :eyes:

[2020-06-23 02:40] Jiruiz2 opened #96 "Poder Roba Méritos"
Hola,

Tengo una duda con este poder, si el jugador 1 roba A méritos al otro jugador, pero este tiene B méritos con B<A. ¿Que sucede en este caso?, al jugador1 se les suman A méritos y al otro jugador se le deja en 0, o solo se le suman B méritos?

[2020-06-23 03:25] Jiruiz2 opened #97 "Poder y casilla Duelo"
Hola,

En el enunciado se menciona que "El ganador del duelo le quita 10 méritos al perdedor". Esto se refiere a que le roba 10 méritos o solo a que el perdedor pierde 10 méritos.

Saludos

[2020-06-23 16:53] ariel-m-s commented on #96
Hola @Jiruiz2,

Puede ser de la forma que tú quieras. El jugador que roba puede ganar A o B méritos, pero el jugador robado sí o sí quedaría con 0. Y si lo pones en tu `README.md` mucho mejor.

Saludos,
Ariel

[2020-06-23 16:59] ariel-m-s commented on #97
Hola,

Se refiere a que le roba 10 méritos. Y qué hacer cuando el perdedor no tiene 10 méritos queda a tu criterio 😃 (lo mismo que te respondí en la _issue_ #96). Lo que nos importa es que programen bien la parte de redes, así que no nos molesta que hagan los supuestos estimen necesarios y los dejen en su `README.md`. Recuerda que cualquier cálculo (como determinar el número de méritos de cada jug

[2020-06-24 01:13] rjdelrio opened #98 "manejo de excepciones en el cliente"
Una pregunta, para casos en que el cliente elige un poder que no tiene, es posible manipular el manejo de opciones dentro del cliente, por ejemplo me refiero a poder mandar todos los poderes al cliente y que esté en el módulo cliente sea capaz de entender que no es posible usar algún poder si no lo tiene, permitiendo preguntarle de nuevo hasta que indique un opción válida?

[2020-06-24 02:20] rjdelrio commented on #88
una pregunta leyendo en internet no tengo claro si hacer tunneling es factible para máquinas virtuales, ya que necesitan acceder a puertos del pc y no se si mi maquina virtual esta permitiendo esto, porque todo comando que pongo me sale "time out" :(

[2020-06-24 08:42] emontecinos commented on #88
es necesario tener algun acceso preferente para dejar corriendo el ./server en el servidor?

[2020-06-24 14:29] ariel-m-s commented on #98
Hola @rjdelrio,

Sí. Puedes validar el _input_ del usuario en el cliente. (También puedes mostrarle como opción solo los poderes que tiene disponibles.)

Saludos 👾,
Ariel

[2020-06-25 13:41] cruz commented on #88
Para configurar los puertos desde la máquina virtual puede haber alguna configuración que depende del virtualizador que están usando. Consideren que la notación general es:

[code]

Si la máquina virtual tiene salida a Internet por ssh (probablemente sí), entonces debería funcionar igual, ya que lo único que hay que habilitar entre la máquina virtual y la máquina física, es la salida por ssh hacia

[2020-06-25 13:41] cruz commented on #88
No deberías necesitar ningún acceso. Solo conectarte al servidor y ejecutar  `./server`. Con la configuración del túnel deberías poder llegar a esa máquina

[2020-06-25 13:59] cruz commented on #88
En general sobre la conexión por túnel ssh. El contexto es que tenemos una máquina (`iic2333.ing.puc.cl`) cuyo únicos puertos accesibles desde el exterior son 22 (`ssh`), 80 (`http`), 443 (`https`). Pueden comprobarlo ejecutando, desde el exterior, el comando:

[code]

nmap es un "scanner de puertos". Se usan para detectar puertos expuestos a los cuales se les podría hacer una conexión. Dejar un s

[2020-06-25 14:00] cruz commented on #88
Volviendo a esto, ¿talvez tu problema es simplmente que tu `./server` no tiene permiso de ejecución?. Si fuera así lo podrías solucionar con:

`chmod +x server`

[2020-06-27 17:21] #78 closed, assigned to ariel-m-s

[2020-06-27 17:21] #79 closed, assigned to ariel-m-s

[2020-06-27 17:21] #80 closed, assigned to Taeval

[2020-06-27 17:21] #81 closed, assigned to ariel-m-s

[2020-06-27 17:21] #83 closed, assigned to ariel-m-s

[2020-06-27 17:21] #84 closed, assigned to ariel-m-s

[2020-06-27 17:21] #85 closed, assigned to ariel-m-s

[2020-06-27 17:21] #86 closed, assigned to ariel-m-s

[2020-06-27 17:21] #87 closed, assigned to ariel-m-s

[2020-06-27 17:21] #88 closed, assigned to cruz

[2020-06-27 17:21] #89 closed, assigned to cruz

[2020-06-27 17:21] #90 closed, assigned to ariel-m-s

[2020-06-27 17:21] #91 closed, assigned to ariel-m-s

[2020-06-27 17:21] #92 closed, assigned to ariel-m-s

[2020-06-27 17:21] #93 closed, assigned to ariel-m-s

[2020-06-27 17:21] #94 closed, assigned to ariel-m-s

[2020-06-27 17:21] #95 closed, assigned to nobody

[2020-06-27 17:21] #96 closed, assigned to ariel-m-s

[2020-06-27 17:21] #97 closed, assigned to ariel-m-s

[2020-06-27 17:21] #98 closed, assigned to ariel-m-s

[2020-06-27 17:27] Faalfaro opened #99 "DHCP, Bonus y gateaway [T3]"
Tengo algunas dudas:
1. ¿Si implemento el servicio DHCP con un servidor aparte, este debe estar dentro de la red UC y asignar IPs solo a los usuarios de esa subred(excluyendo al server http y demás subredes)?
2. ¿En el bonus los usuarios de la red mi casa no pueden acceder de ninguna forma a canvas o igual pueden acceder desde el re-direccionamiento en UC?
3. Cada subred tiene que tener un router

[2020-06-27 18:49] ariel-m-s commented on #99
Hola @Faalfaro!

1. El servicio DHCP (en cualquiera de sus formas) debe asignarle direcciones IP **exclusivamente** a los **usuarios de la subred UC** (acá no se cuenta el servidor HTTP como bien dices). A mi me parece que lo más lógico es que el servidor DHCP esté dentro de la subred, pero si encuentras una manera de que esté fuera (yo no conozco ninguna), pero aún así logre cumplir su función, e

[2020-06-27 19:02] Faalfaro commented on #99
Gracias! me quedo claro con la 1 y la 2. En cuanto a la 3 no se como podría setear el static para un solo router, tengo entendido que eso es para cuando hay varios router y quiero conectar entre ellos. De todas maneras lo cambie a un router por subnet y estoy actualmente seteando el static, aquí me surgieron dos dudas:

1. ¿Que IPs utilizo para los hops entre cada router?, momentaneamente estoy oc

[2020-06-27 19:17] ariel-m-s commented on #99
La verdad es que no le he dado mucha vuelta a configurar _static routing_ con un solo router. Es por eso que no te digo que "sí, se puede hacer". Una mejor respuesta es que si descubres una manera de hacerlo tal que cumpla con las especificaciones del enunciado, está bien. Lo que te puedo asgurar es que con más de un router sí se puede configurar _static routing_ y es posible/probable (no lo he pe

[2020-06-27 19:22] Faalfaro commented on #99
Gracias!

[2020-06-27 19:22] ariel-m-s opened #100 "[T3] Aclaraciones o actualizciones de enunciado"
1. Gracias a la _issue_ #99 me di cuenta que hay un _typo_ en el enunciado. La subred DNS debería ser `2.2.0.0/16`, y no `2.2.2.0/16`.

2. (A partir de la _issue_ #107.) Pueden dejar programados envíos de paquetes (eventos) como parte de su archivo `.pkt` en caso de que sea necesario para que su red funcione bien. O bien, dejen explícito cuál es el problema y cómo solucionarlo en su `README.md` pa

[2020-06-27 19:24] ariel-m-s commented on #99
De nada!

(Voy a reabrir la _issue_ para que otros con las mismas dudas puedan consultarla.)

[2020-06-27 20:37] Faalfaro commented on #100
Para el bonus, ¿Basta con que aparezca un Request Timeout cuando intento acceder desde la red Mi Casa hacia www.canvas.com?

[2020-06-27 20:57] roy350 opened #101 "[T3] Duda con las configuraciones de las IP"
Hola ayer hice el tutorial de un seteo básico de conexión que se encontraba en el tutorial
https://static-course-assets.s3.amazonaws.com/I2PTNet11/en/course/files/2.1.1.5%20Packet%20Tracer%20-%20Create%20a%20Simple%20%20Network%20Using%20Packet%20Tracer.pdf

Ahora estoy replicandolo pero para los IP que dijeron, y no me funcionó, yo creo que es por que estoy para el ejemplo de Canvas usando la IP

[2020-06-27 21:19] ariel-m-s commented on #101
Hola @roy350!

No entendí muy bien tu pregunta. ¿Podrías explicarme en más detalle qué es lo que hiciste y qué es lo que no te funcionó?

Eso sí, deberías evitar asignar direcciones IP que terminan en `0`, ya que estas se usan para referirse a la subred como tal y para enviar mensajes del tipo _broadcast_ (dirijidos a todos los dispositivos de la subred). Hacer esto podría ser fuente de errores.

[2020-06-27 21:31] Arcoirisky opened #102 "[T3] Bad mask /24 for address 129.168.1.0"
Basicamente eso ¿a alguien le apareció algo similar al configurar el router para el servidor?

[2020-06-27 21:34] roy350 commented on #101
@ariel-m-s ! enefecto eran que en gateway ponia el IP terminado en 0, lo cambie por 1 y funciono!, mira en particular es esto
![image](https://user-images.githubusercontent.com/20785160/85932713-6ceb7280-b89c-11ea-8151-f2601f77259c.png)
el gateway es con 1, para el caso de Canvas esta bien ese DNS server y ese gateway respectivo?

[2020-06-27 21:35] Arcoirisky commented on #102
Forget, el servidor es .0 sin problema con la mask 24
el router que nos levanta el servicio no acepta el .0 porque la mascara 24 va de .1-255

[2020-06-27 21:45] ariel-m-s commented on #101
Primero, la dirección del router _gateway_ está bien. Puedes usar las direcciones IP que quieras, siempre que se cumpla con lo que dice el enunciado.

Segundo, el único servidor DNS que nosotros les pedimos es el que se encuentra en la subred DNS. Este debe contener ambas entradas: `www.canvas.com` y `iic2333.ing.puc.cl`. No está prohibido poner más servidores DNS (uno en `192.168.1.24`, por ejemp

[2020-06-27 21:49] ariel-m-s commented on #102
Eso 😎. Es algo como lo que respondí en la _issue_ #101.

Saludos,

Ariel

[2020-06-28 20:44] Arcoirisky opened #103 "IP estativa vs dinamica"
¿podemos hacer las distribuciones de ip de forma dinámica DHCS (o como se escriba) para los usuarios de todas las redes?
O:

[2020-06-28 21:26] ariel-m-s commented on #103
Hola @Arcoirisky!

No, no pueden 😢.

Saludos,

Ariel

PS: Es DHCP.

[2020-06-28 21:31] Arcoirisky commented on #103
@ariel-m-s pero ¿que diferencia hace? además de evitar que escribamos a mano las direcciones iP de cada usuario

[2020-06-28 21:34] ariel-m-s commented on #103
No hace tanta diferencia. La idea es que usen los ambos métodos de asignación de direcciones IP.

[2020-06-28 21:37] Arcoirisky commented on #103
Y no es posible que se asignen IP estática para Mi Casa y el resto DHCP? cumpliría con lo que dices y tiene más sentido considerando que la casa no tiene ningún hoster y son solo usuarios conectados a un router

(No me hagas cambiar todo plz aksdjk si para validar el punto basta con 2)

[2020-06-28 21:46] ariel-m-s commented on #103
Bueno jajaja, pero al menos una subred completa debe tener direcciones IP estáticas.

[2020-06-28 21:47] Arcoirisky commented on #103
Alabado seas :heart:

[2020-06-29 00:10] aaguilarg opened #104 "[T3] ip servidor iic2333.puc.cl"
Hola!
En el enunciado se indica, que los ip's de esta sub-red deben ser asignados mediante DHCP. La pregunta es, ¿la ip del servidor web también debe ser asignada dinámicamente? Si es así ¿la ip del servidor web puede variar en el tiempo o algo? la pregunta es porque se necesita conocer esta ip para anotarla en el servidor DNS. ¿Si es que la ip asignada por DHCP puede variar, podemos hacer estátic

[2020-06-29 02:59] roy350 opened #105 "[T3] No me queda clara las conexiones que se deben realizar"
Hola! no comprendo muy bien como deben interactuar los servers, comprendo que solo debe haber un server DNS que basicamente contendria el acceso a las dos IP de canvas y los otros servers solo deberian tener el html, mi duda es como el server DNS puede redirigir al contenido alojado dentro de los otros servers, a traves de que se deberian conectar?

[2020-06-29 03:32] Arcoirisky commented on #105
Para que un servidor funcione como DNS lo conectas a un router y usas en servicios el de la pestaña DNS. ahí le agregas el nombre de la "pagina" y la dirección debe ser la ip del servidor que tiene el html.

Así en una misma red dices que el DNS debe ser la ip del servidor DNS y deberias poder ver la pagina desde el browser del computador.

Lo anterior pensando que todo está bien conectado en la m

[2020-06-29 03:38] roy350 commented on #105
Sisi, si yo de hecho, imaginate que hice todas las conexiones independientes como para que cada server tuviera con DNS propio, osea todos los de canvas pueden ver la pagina canvas, todos los de iic2233 pueden ver la pagina iic2333, pero ariel me respondio en otro issue que solo debe haber un solo server DNS que es el que esta en el enunciado, entonces ahi quede perdido, onda como hacer que las cos

[2020-06-29 18:05] ariel-m-s commented on #104
Hola @aaguilarg!

La dirección IP del servidor es estática. Solo los usuarios (computadores, teléfonos, etc.) deben recibir su dirección IP a través de DHCP (de forma dinámica).

Saludos 💻,

Ariel

[2020-06-29 18:11] ariel-m-s commented on #105
Hola @roy350!

El servidor DNS en la subred DNS debe contener dos entradas: una correspondiente a `www.canvas.com` y la otra a `iic2333.ing.puc.cl`.

El funcionamiento del protocolo es como sigue. Si un usuario de la red desea conocer la dirección IP de alguna de esas dos páginas _web_, debe preguntárselo al servidor DNS, quien le responderá con dicha dirección.

No sé muy bien cuál es tu duda. Si

[2020-06-29 19:41] rjdelrio opened #106 "es posible usar mas dispositivos de los que se nos piden"
hola quería saber si es posible usar algunos artefactos adicionales, como por ejemplo switchers o access point , por otro lado quería saber si somos libres para agregar tantos módulos adicionales a los routers como deseemos?

[2020-06-29 19:44] Jiruiz2 opened #107 "Problema al enviar ping al iniciar el programa"
Hola,

Quería consultar si es que es normal que cada vez que se iniciar el programa las tablas ARP se borren, ya que cuando intento enviar un ping entre dos computadores de distintas subredes me falla la primera vez, pero la segunda vez si funciona. Por lo que quería consultar si existe alguna manera de arreglar esto o bien no es un descuento en la tarea.

Saludos

[2020-06-29 20:11] ariel-m-s commented on #106
Hola @rjdelrio!

Sí, no hay problema con agregar más dispositivos y módulos. Lo que les pedimos es lo mínimo que debe tener su red.

Saludos 😺,

Ariel

[2020-06-29 20:17] ariel-m-s commented on #107
Hola @Jiruiz2!

Puede ser que la red demore un poco en configurarse. (No sé si es posible esperar a que se configure la red y luego guardar el archivo y que la red quede en ese estado.) En todo caso, antes de corregir, nosotros vamos a apretar las flechitas para adelantar el tiempo. Si funciona luego de apretar las flechitas no debería haber ningún problema.

![flechitas](https://user-images.githu

[2020-06-29 20:30] ariel-m-s commented on #106
Eso sí, debo hacer un _disclaimer_. A pesar de que no está prohibido agregar más dispositivos (y, de hecho, podría ser algo súper bueno), no se deben violar las restricciones del enunciado. Por ejemplo, no hay ningún problema en que agregues más servidores DNS (como comenté en la _issue_ #101), pero es importante que el único servidor DNS que les pedimos esté bien configurado y cumpla con las espe

[2020-06-29 22:34] roy350 commented on #105
Espera, entonces cuando dicen por ejemplo en la subred canvas "tres usuarios conectados de manera inalambrica" no es que esten conectados al server de Canvas? sino que al DNS? :O

[2020-06-29 22:56] ariel-m-s commented on #105
Eso no fue lo que dije.

Los usuarios deben estar conectados a la red de manera inalámbrica. Sin embargo, el enunciado no especifica a qué dispositivo deben estar conectados de forma directa (pero se entiende que es un dispositivo que permita este tipo de conexión, como un _access point_ o un _wireless router_).

Ahora bien, toda la red tiene que estar interconectada (por eso se llama red).

Ariel

[2020-06-29 22:57] ariel-m-s commented on #105
La verdad es que no estoy entendiendo bien cuál es tu duda, @roy350. Sería bueno si pudieras reformularla de forma más clara.

Ariel

[2020-06-29 23:07] Arcoirisky commented on #105
@roy350
Respondiendote desde aqui:

Estoy suponiendo que por un lado tienes una red Canvas como la pedida por el enunciado que puede entrar al www.canvas.com

Por otro lado tienes otra red UC que hace lo mismo pero con iic2333.ing.puc.cl

Cada una de estas redes tienen un servidor HTML que contiene lo que muestra la pagina y otro que sirve como DNS para su propia página PERO solo funciona dentro d

[2020-06-29 23:13] roy350 commented on #105
:OOOOO creo que entonces no estab tan tan perdido! eso era lo que no me quedaba claro, finalmente con el ip routing, es con el que lograria interconectar las redes entre si? @Arcoirisky

[2020-06-29 23:41] Jiruiz2 commented on #107
Es que no es un problema de la configuración de red, o al menos eso creo, ya que al enviar el primer mensaje falla y entrega el siguiente error:
![imagen](https://user-images.githubusercontent.com/26437497/86066495-45cda600-ba40-11ea-9618-8b6100eedd9f.png)
Sin embargo al hacerlo una segunda vez (sin realizar ningún cambio) funciona bien.

Cabe señalar que el acceso a los HTTP funciona bien, es sol

[2020-06-29 23:46] ariel-m-s commented on #105
Genial. Un par de correcciones nomás: (1) es servidor **HTTP** y (2) no es necesario usar cables rojos. 😃

Y sí, @roy350, las subredes deben estar interconectadas haciendo uso de _static IP routing_. Esto es lo que "rutea" los mensajes, es decir, les dice cómo llegar de un lugar a otro.

También se podría hacer de forma más dinámica con RIP, pero no es lo que les pedimos en la tarea.

Ariel

[2020-06-29 23:49] ariel-m-s commented on #105
Esto puede ser estático o dinámico (DHCP), al igual que la IP y el _default gateway_. (Me refiero a lo de "apuntar" al DNS.)

Ariel

[2020-06-30 01:12] Arcoirisky commented on #105
No sé escribir aklsdj
 @ariel-m-s en la ayudantía extra del miercoles nos enseñarán lo del enrutamiento estatico no? O:!!!

[2020-06-30 01:25] ariel-m-s commented on #105
@Arcoirisky no! No salió tan votado. Si nos queda tiempo lo revisamos rápido. 😮

Ariel

[2020-06-30 01:26] Arcoirisky commented on #105
@ariel-m-s QUE SAD

[2020-06-30 01:29] ariel-m-s commented on #107
Hmmm... La verdad es que eso puede estar pasando por diversas razones 🤔.

Si la red no se "configura sola", no estaría completamente bueno. Intenta adelantar el tiempo con ⏩. ¿Funciona ahí?

Ariel

[2020-06-30 01:38] ninifdr commented on #107
Hola!
A nosotras nos pasa exactamente lo mismo, el primer ping no funciona, pero el segundo sí. No hemos logrado encontrar qué es! Alguien ha logrado solucionarlo?
No nos funciona si adelantamos el tiempo

[2020-06-30 02:09] Jiruiz2 commented on #107
Adelantar el tiempo no arregla este problema. Igual quiero recalcar que es solo en los pings, funciona bien para el http

[2020-06-30 03:15] ninifdr commented on #107
A nosotras también nos pasa sólo con los pings y para el http todo bien desde el principio!

[2020-06-30 04:27] ariel-m-s commented on #107
Hola @Jiruiz2 y @ninifdr!

La verdad es que no sé cuál es la naturaleza de su error, pero no se preocupen. Pueden hacer lo siguiente.

Los paquetes enviados pueden ser guardados como parte de su archivo `.pkt`. Entonces, creen los mensajes que necesiten para que la red quede bien configurada y nosotros respetaremos eso en la corrección. Es decir, que enviaremos los paquetes que ustedes digan antes

[2020-07-01 23:16] rjdelrio opened #108 "se pueden usar direcciones de ip diferentes"
Hola queríamos saber si es posible usar una dirección diferente a la que se estipula en el enunciado, ya que empezamos con otros ip y nos dimos cuenta muy tarde, es posible esta excepción si lo estipulamos en el readme?

[2020-07-01 23:27] Meaylwin commented on #107
Hola Ariel, intenté usar esa solución, pero hay un detalle, si dejas creados los mensajes para configurar la red, guardas y cierras el programa, al abrirlo, estos mensajes quedan creados, pero no se envían (quedan en etado --- al abrir el programa)
No se si conoces otra forma de "programar" mensajes
![image](https://user-images.githubusercontent.com/14930275/86300428-d3d89680-bbd0-11ea-9407-2ec063

[2020-07-01 23:43] Meaylwin commented on #107
Ariel, estuve investigando, y al parecer esta este comportamiento es normal en los dispositivos Cisco ([https://community.cisco.com/t5/routing/first-ping-fails/td-p/1793423](https://community.cisco.com/t5/routing/first-ping-fails/td-p/1793423))

Quedo atento a tu respuesta

[2020-07-02 01:07] Kitaps opened #109 "ips desaparecen"
hola

tengo un problema que tengo la red canvas andando bien. Pero cuando cierro y abro el programa se borran todas las ips de los computadores inalambricos.

para cuando entreguemos, basta con poner en el readme:
poner esta ip en este pc antes de correr
o tenemos que arreglar el problema de que se borre?

[2020-07-02 02:34] mistico0121 opened #110 "Multiples Wireless routers"
Hola.

Tengo un problema a la hora de configurar multiples wireless routers. Pasa que tanto la red UC como Canvas requieren tener un router inalámbrico. Logré configurarlos ambos correctamente, sin embargo, cuando cierro el archivo y lo vuelvo a abrir, TODOS los laptops de la simulación se conectan inalámbricamente al router más nuevo, en vez de conectarse al que deberían, por lo que debo desconec

[2020-07-02 07:37] rjdelrio commented on #107
a mi me pasa lo mismo, pareciera ser necesario tener que intentar hacer el ping dos veces para que funcione tal como al ayudante le paso en la ayudantia.

[2020-07-02 07:43] rjdelrio opened #111 "problema con el bonus"
me pasa lo siguiente, que al restringir el acceso de la red home a la red canvas tmb por consecuencia se restringe el acceso de la red canvas a la red home, ya que al restringir los mensaje en una dirección home-->canvas, la red canvas no puede recibir respuestas de home, esto esta bien o tenemos que manejar que cuando canvas manda un paquete a home este cuando venga de vuelta no sea restringido?

[2020-07-02 17:41] ariel-m-s commented on #108
Hola @rjdelrio,

Sí, déjenlo explícito en el `README.md` y no habrá problema. Eso sí, tienen que respetar el tamaño de cada subred (`/16` o `/24`).

Saludos 🌐,

Ariel

[2020-07-02 17:43] ariel-m-s commented on #109
Hola @Kitaps,

Intenta solucionar el problema. Quizá tienes que guardar luego de asignarles la dirección IP. Si no te funciona, deja explícito en el `README.md` que están conscientes del problema y enumeren los pasos a seguir para que la red quede bien configurada luego de abrir el archivo. No hay problema.

Saludos 😸,

Ariel

[2020-07-02 17:47] ariel-m-s commented on #107
Hola @Meaylwin y @rjdelrio,

Efectivamente, para algunas configuraciones de red ese problema ocurre. Tal como dices, a mi me pasó en la ayudantía también.

Dejen explícito en su `README.md` cuál es el "problema" y qué debo hacer para solucionarlo (_e.g._, enviar un ping de A a B) luego de abrir el archivo. No hay problema con eso.

Saludos 🤓,

Ariel

[2020-07-02 17:51] ariel-m-s commented on #111
Hola @rjdelrio,

Efectivamente, la comunicación siempre es bidireccional (hay un mensaje de respuesta). Está bien (o no bien, sino que es normal) que pase eso.

Saludos 😎,

Ariel

[2020-07-02 17:56] ariel-m-s commented on #110
Hola @mistico0121,

La verdad es que desconozco la respuesta a eso. Pero, fíjate que nosotros solamente les pedimos **una** subred con ususarios conectados de forma inalámbrica.

Saludos 💻,

Ariel

[2020-07-02 21:10] Kitaps commented on #109
Es decir, una manera de solucionarlo es dejar la IP de esos computadores como no estática. Pero no se si podemos hacer eso(?)

[2020-07-02 21:50] ariel-m-s commented on #109
Hola,

Tal como comenté en la _issue_ #103, pueden implementar DHCP en más subredes, siempre que haya **al menos una** que sea completamente estática.

Ariel

[2020-07-02 22:01] jotramon opened #112 "the next-hop ip address is not in the arp"
hola, nos sale este error dentro del proyecto, pero solo cuando queremos acceder a las páginas desde los usuarios que están en las subredes de los servidores de estas, no asi cuando vienen de la subred con solo usuarios. Que esta pasando?
![WhatsApp Image 2020-07-02 at 17 24 22](https://user-images.githubusercontent.com/26410776/86412943-01cfe080-bc8e-11ea-8306-2b44fb660a64.jpeg)

[2020-07-02 22:08] Kitaps commented on #109
Podemos entonces hacer las por Wifi (q son las que se desconfiguran) con DHCP y meterle un pc conectado por cable con estatica?

[2020-07-02 22:16] ariel-m-s commented on #112
Hola @jotramon,

Está pasando exactamente lo que dice ahí: que la dirección IP del siguiente nodo no está en la tabla ARP, entonces el proceso no tiene como relacionar dicha dirección con una dirección física (MAC, de _hardware_) y, por tanto, un puerto de salida en particular.

Esto podría estar pasando por distintas razones y de eso depende cómo solucionarlo. Si el error ocurre antes del _router

[2020-07-02 22:17] jotramon commented on #112
El problema es que tenemos ambas cosas implementadas. :(

[2020-07-02 22:19] ariel-m-s commented on #112
También puede ser que la red se demora un poco en configurar. Asegúrate de no estar en el modo simulación y apreta la doble flecha (⏩) que mencioné en la _issue_ #107. Luego intenta de nuevo.

[2020-07-02 22:24] ariel-m-s commented on #112
Si no logras solucionarlo de esta manera, intenta arreglarlo "a la mala". En la misma _issue_ (#107) se habla de eso. Por ejemplo, puedes intentar enviar un `ping` a través de esa misma vía (quizá en el mismo sentido o quizá en sentido contrario) y que eso solucione tu problema.

Si funciona con algún truco así, deja anotado en tu `README.md` que están conscientes del problema y enumera los pasos

[2020-07-02 22:25] jotramon commented on #112
sale Host Name Unresolved :/

[2020-07-02 22:26] ariel-m-s commented on #112
@jotramon tienes que ser más específico. ¿Qué cambio hiciste que ahora dice eso?

[2020-07-02 22:28] jotramon commented on #112
apreté la  (⏩) solamente

[2020-07-02 22:30] ariel-m-s commented on #112
Mira lo que entiendo es que en el navegador te sale `Host Name Unresolved` y luego si examinas el paquete te sale el error antes mencionado. Me imagino que eso es lo que me dices.

Intenta buscar una solución en base a lo que mencioné recién y comentas si te funcionó o no.

[2020-07-02 22:34] ariel-m-s commented on #109
Intenten que cada subred tenga solo una manera de configurar sus direcciones IP. En la subred con conexiones inalámbricas pueden usar DHCP si les acomoda más, y luego pueden dejar otra subred con direcciones IP estáticas. (Y lo escriben en su `README.md`.)

[2020-07-03 23:55] mistico0121 commented on #110
Muchas gracias @ariel-m-s . Una última duda respecto a Wireless routers. Puede un gateway router como nos pide el enunciado, ser un Wireless Router en vez de un PT Router?

[2020-07-04 18:57] ariel-m-s commented on #110
En ningún momento les dijimos que tenían que usar PT Router, así que si no va en contra de lo que dice el enunciado, entonces no hay problema. Recuerda que debes configurar _static routing_, y no sé si Wireless Router te da esa opción. Si es posible hacerlo, dale nomás.

Ariel

[2020-07-06 22:59] cruz opened #113 "Examen: Aclaraciones de enunciado"
El contenido de esta issue se actualizará con las preguntas que se reciban. Para formular una nueva pregunta, responder a esta issue.

**Pregunta 2c. Aclaración de redacción.**

Decía:

Fue actualizado a:

Lean bien esa pregunta pues la respuesta es bastante simple. :)

**Pregunta 2b.  "¿el uso hace referencia a cuando es más conveniente usar cada uno de estos tipos de socket o, más bien, al uso p

[2020-07-07 13:17] jmsilvas commented on #113
En la pregunta 1 b), el uso hace referencia a cuando es más conveniente usar cada uno de estos tipos de socket o, más bien, al uso propiamente tal al enviar/recibir mensajes?

[2020-07-07 13:30] cruz commented on #113
Se refiere al uso cuando se quiere utilizar el canal de transporte. Qué información hay que enviar.

[2020-07-07 14:51] Jiruiz2 commented on #113
Hola,

En la pregunta 1.a) por creación se refieren a la creación en si o a la conexión.

Saludos

[2020-07-07 15:13] cruz commented on #113
Se refiere a ambas cosas. Todo lo que se hacen antes de enviar datos. El hecho que haya o no una etapa de conexión depende de otras cosas.

[2020-07-07 16:45] dvogaz commented on #113
@cruz Hola, en la pregunta 4.b) _Expliqué por qué este mecanismo funciona correctamente._
Busca que expliquemos el mecanismo completo y su funcionamiento o sólo este cómo soluciona el problema de segmentos perdidos? No entiendo bien qué tengo que contestar.

[2020-07-07 16:55] Pipelao commented on #113
Hola @cruz,

No me queda claro si el tiempo límite es a las 20:00 o a las 23:59.

Gracias.

[2020-07-07 19:26] rjdelrio commented on #113
En la pregunta 6 C se pide explicar "En una red LAN, los routers no propagan los mensajes de broadcast. ¿Por qué se decidió de esta manera?" pero en el video "08-03 IP y subredes" minuto 9 sale explicitamente que un mensaje a la dirección 255 (dirección broadcast) propagaría un mensaje a toda la red local (LAN(local-area-network)), entonces no entiendo si quieren que busquemos una razón por el lad

[2020-07-07 21:06] Pipelao commented on #113
@rjdelrio fijate bien en los términos (palabras) que se ocupan :grin:

[2020-07-07 22:01] cruz commented on #113
Hola. Es lo segundo. Se refiere a por qué la retransmisión rápida soluciona correctamente el problema de los segmentos perdidos.

[2020-07-07 22:03] cruz commented on #113
Es hasta las 20:00. Sin embargo, si tienen algún problema de entrega, el buzón estará abierto hasta las 23:59 pero registrará el atraso. No se corrige la entrega después de las 20:00, a menos que me escriban explicando si han tenido algún problema.

[2020-07-07 22:05] cruz commented on #113
Recuerda que los routers delimitan las redes LAN. Al decir "propagar", piensa que un router está conectado a múltiples LANs.

[2020-07-10 13:19] Arcoirisky opened #114 "Intentos Act9"
Hoooli, está bien que en la act9 solo tengamos un intento? :eyes:
![7395DB39-E99B-4285-8E34-1246981C7233](https://user-images.githubusercontent.com/26121402/87158857-61318000-c28e-11ea-98af-de959ecaddde.jpeg)

[2020-07-10 15:50] #99 closed, assigned to ariel-m-s

[2020-07-10 15:50] #100 closed, assigned to nobody

[2020-07-10 15:50] #101 closed, assigned to ariel-m-s

[2020-07-10 15:50] #102 closed, assigned to ariel-m-s

[2020-07-10 15:50] #103 closed, assigned to ariel-m-s

[2020-07-10 15:50] #104 closed, assigned to ariel-m-s

[2020-07-10 15:50] #105 closed, assigned to ariel-m-s

[2020-07-10 15:50] #106 closed, assigned to ariel-m-s

[2020-07-10 15:50] #107 closed, assigned to ariel-m-s

[2020-07-10 15:50] #108 closed, assigned to ariel-m-s

[2020-07-10 15:50] #109 closed, assigned to ariel-m-s

[2020-07-10 15:50] #110 closed, assigned to ariel-m-s

[2020-07-10 15:50] #111 closed, assigned to ariel-m-s

[2020-07-10 15:50] #112 closed, assigned to ariel-m-s

[2020-07-10 15:57] #113 closed, assigned to nobody

[2020-07-10 16:06] Arcoirisky opened #115 "ACT 9 Preg 9 "Respuesta correcta" (literal)"
eeeh, hay una opción "Respuesta correcta" en la pregunta 9 de la ACT 9
¿it's a trap?
¿Para el puntaje de la pregunta tenemos que apretarlo? xD aiua, no me preparé para esto

[2020-07-10 22:53] cruz commented on #115
Chuatas. A veces queda así, no se por qué. Lo revisaré.

El vie., 10 de julio de 2020 18:08, Ariel Martínez Silberstein <
notifications@github.com> escribió:

[2020-07-10 22:59] cruz commented on #115
Corregido :)
No sé por qué a vece Canvas lo guarda así.

[2020-07-10 22:59] cruz commented on #114
No, no está bien.
También está corregido :) Revísenlo, por favor.

[2020-07-11 00:33] Arcoirisky commented on #114
Ahora si! Gracias!!

[2020-07-11 02:30] cruz commented on #115
Bueno igual talvez cachan que estaba correcta, jajaja.

[2020-07-30 23:12] #114 closed, assigned to cruz

[2020-07-30 23:12] #115 closed, assigned to cruz